<div class="col-lg-3">

  <div class="image" data-transition="entrance" style="transform : translateY( 50px )">

    <div class="mb-5">

      <div class="embed-responsive embed-responsive-3by4">

        <div class="embed-responsive-item">
          
          <a href="{{ block.settings.imagelink }}">

          	<img class="lazyload w-100" data-src="{{ block.settings.image | img_url : 'master' }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-expand="-50">

          </a>
            
        </div>

      </div>

    </div>

  </div>

</div>


{% comment %}

  © 2018 Atlas Group, Inc. All rights reserved.

  No portion of this software code may be reproduced, distributed or modified
  without prior express written authorization of Atlas Group, Inc.

  Unauthorized reproduction or copying of this software code, via any medium,
  is strictly prohibited and may subject you to severe legal liability.

<div class="image">

  {% unless format != blank %}

    {% assign format = 'pjpg' %}

  {% endunless %}

  {% unless ratio != blank %}

    {% assign ratio = '3by4' %}

  {% endunless %}

  {% unless scale != blank %}

    {% assign scale = 2 %}

  {% endunless %}

  {% unless size != blank %}

    {% assign size = 'large' %}

  {% endunless %}

  <div class="embed-responsive embed-responsive-{{ ratio }}">

    <div class="embed-responsive-item">

      <img class="lazyload w-100" data-srcset="{{ image.src | img_url : size , scale : scale , format : format }}" src="{{ image.src | img_url : size , scale : scale , format : format }}" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="{{ image.alt | escape }}" data-expand="-50">

      <noscript>

        <img class="w-100" src="{{ image.src | img_url : size , scale : scale , format : format }}" alt="{{ image.alt | escape }}">

      </noscript>

    </div>

  </div>

</div>

{% endcomment %}
