{%- assign formId = 'ContactForm' -%}
{% form 'contact', id: formId %}
{% include 'form-status', form_id: formId %}

<label class="hidden" for="{{ formId }}-name">{{ 'contact.form.name' | t }}</label>
<input 
    class="form-control mb-2 border-dark" 
    type="text" 
    placeholder="Name"
    id="{{ formId }}-name" 
    name="contact[name]"
    value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">

<label 
    class="hidden" 
    for="{{ formId }}-email">
    {{ 'contact.form.email' | t }}
    <span aria-hidden="true">*</span>
</label>
<input 
    class="form-control mb-2 border-dark" 
    type="email" 
    id="{{ formId }}-email" 
    name="contact[email]"
    placeholder="Email"
    autocorrect="off" autocapitalize="off"
    value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
    aria-required="true" 
        {%- if form.errors contains 'email' -%} 
    class="input--error" 
    aria-invalid="true"
    aria-describedby="{{ formId }}-email-error" {%- endif -%}>

    {%- if form.errors contains 'email' -%}

        <span id="{{ formId}}-email-error" class="input-error-message">{% include 'icon-error' %}

        {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>

    {%- endif -%}

<label class="hidden" for="{{ formId }}-company">Company</label>
<input class="form-control mb-2 border-dark" id="{{ formId }}-company" type="text" name="contact[Company]" placeholder="Company" />

<label 
    class="hidden" 
    for="{{ formId }}-address">{{ 'contact.form.address' | t }}</label>
<input 
    class="form-control mb-2 border-dark" 
    type="tel" 
    placeholder="Address"
    id="{{ formId }}-address" 
    name="contact[address]" 
    autocomplete="shipping street-address"
    value="{% if form[address] %}{{ form[address] }}{% elsif customer %}{{ customer.address }}{% endif %}">

<label class="hidden" for="{{ formId }}-city">City</label>
<input class="form-control mb-2 border-dark" id="{{ formId }}-city" type="text" name="contact[City]" placeholder="City"
    autocomplete="shipping address-level2" required>

<div class="form-group">
    <label class="hidden" for="{{ formId }}-state">State</label>
    <input class="form-control mr-1 border-dark" id="{{ formId }}-state" type="text" name="contact[State]" placeholder="State"
        autocomplete="shipping address-level1" required>

    <label class="hidden" for="{{ formId }}-zip">Zip</label>
    <input class="form-control ml-1 border-dark" id="{{ formId }}-zip" type="text" name="contact[Zip]" placeholder="Zip Code"
        autocomplete="shipping postal-code" required>
</div>

{%- comment -%}
<label class="hidden" for="{{ formId }}-message">{{ 'contact.form.message' | t }}</label>
<textarea rows="10" id="{{ formId }}-message"
    name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>

{%- endcomment -%}
<input type="submit" class="btn btn-info btn-block py-2" value="{{ 'contact.form.submit' | t }}">

{% endform %}
