      <div class="cart-flyout" style="z-index : 1060">
  <div class="cart-flyout--inner">
    <a href="javascript:;" class="btn-close-cart"><i class="fas fa-times"></i></a>
    <div class="cart-flyout__content">
      <h1 class="cart-flyout__heading text-uppercase">{{ 'layout.cart.mini_cart' | t }}</h1>
      <div class="widget_shopping_cart_content">
          {%- if cart.item_count > 0 -%}
          <ul class="cart_list product_list_widget">
            {%- for item in cart.items -%}
            <li class="mini_cart_item">
              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="remove" aria-label="Remove this item" onclick="Shopify.removeItem({{ item.id }}); return false">×</a>
                <img width="120" height="150" src="{{ item | img_url: '120x' | split:'?' | first }}" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="">
				        <div class="product-info">
                  <span class="product-title">{{ item.product.title }}</span>
					        <span class="quantity">{{ item.quantity }} × <span class="amount">{{ item.price | money }}</span>
                  </span>
                                {% unless item.variant.title contains 'Default' %}
                                <dl class="variation">
                                  {% for option in item.product.options %}
                                  <dt class="variation-Color">{{ option }}:</dt>
                                  <dd class="variation-Color">
                                    <p>{{ item.variant.options[forloop.index0] }}</p>
                                  </dd>
                                  {% endfor %}
                                </dl>
                                {% endunless %}
                </div>
              </span>
            </li>
            {%- endfor -%}
          </ul>
          {%- else -%}
          	<p class="mini-cart__empty-message">{{ 'cart.general.empty' | t }}</p>
          {%- endif -%}
          {%- if cart.item_count > 0 -%}
            <p class="mini-cart__total total">
              <strong>{{ 'cart.general.subtotal' | t }}</strong> <span class="amount">{{ cart.total_price | money }}</span>
            </p>
            <p class="mini-cart__buttons buttons">
              <a href="/cart" class="button wc-forward">{{ 'cart.general.view_cart' | t }}</a>
              <a href="/checkout" class="button checkout wc-forward">{{ 'cart.general.checkout' | t }}</a>
              <a href="/collections/shop" class="btn btn--secondary cart__continue small--hide cart__submit-control" >
                {{ 'cart.general.continue_shopping' | t }}
              </a>
            </p>
          {%- endif -%}
      </div>
    </div>
  </div>
</div>
<div class="la-overlay-global"></div>