<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400,500,700&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.12.3/css/main-style.css?t=20200707200732"><link rel="stylesheet" href="{{ 'pagefly.f67b47a7.scss.css' | asset_url }}">
		  {% if product_4350514004066 == null %}{%- assign product_4350514004066 = all_products['mocha-latte'] -%}{% endif %} {% if product_1914810957922 == null %}{%- assign product_1914810957922 = all_products['vanilla-ashwagandha'] -%}{% endif %} {% if product_1914813644898 == null %}{%- assign product_1914813644898 = all_products['chocolate-maca'] -%}{% endif %} {% if product_4365318193250 == null %}{%- assign product_4365318193250 = all_products['chocolate-vanilla'] -%}{% endif %} {% if product_1914817544290 == null %}{%- assign product_1914817544290 = all_products['matcha-moringa'] -%}{% endif %} {% if product_3954544115810 == null %}{%- assign product_3954544115810 = all_products['mixed-6-pack'] -%}{% endif %} {% if product_1916748759138 == null %}{%- assign product_1916748759138 = all_products['mixed-case'] -%}{% endif %} {% if product_4461353795682 == null %}{%- assign product_4461353795682 = all_products['trial-6-pack'] -%}{% endif %}<script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	window.__pageflyProducts["4350514004066"] = {
					id: {{product_4350514004066.id | json }},
					handle: {{product_4350514004066.handle | json }},
					title: {{product_4350514004066.title | json }},
					type: {{product_4350514004066.type | json }},
					url: {{product_4350514004066.url | json }},
					vendor: {{product_4350514004066.vendor | json }},
					variants: {{product_4350514004066.variants | json }},
					options: {{product_4350514004066.options | json }},
					media: {{product_4350514004066.media | json }},
					first_available_variant: {{product_4350514004066.first_available_variant | json }},
					has_only_default_variant: {{product_4350514004066.has_only_default_variant | json }},
					options_with_values: {{product_4350514004066.options_with_values | json }},
					selected_variant: {{product_4350514004066.selected_variant | json }},
					selected_or_first_available_variant: {{product_4350514004066.selected_or_first_available_variant | json }},
					tags: {{product_4350514004066.tags | json }},
					template_suffix: {{product_4350514004066.template_suffix | json }},
					featured_image: {{product_4350514004066.featured_image | json }},
					featured_media: {{product_4350514004066.featured_media | json }},
					images: {{product_4350514004066.images | json }}
				};window.__pageflyProducts["1914810957922"] = {
					id: {{product_1914810957922.id | json }},
					handle: {{product_1914810957922.handle | json }},
					title: {{product_1914810957922.title | json }},
					type: {{product_1914810957922.type | json }},
					url: {{product_1914810957922.url | json }},
					vendor: {{product_1914810957922.vendor | json }},
					variants: {{product_1914810957922.variants | json }},
					options: {{product_1914810957922.options | json }},
					media: {{product_1914810957922.media | json }},
					first_available_variant: {{product_1914810957922.first_available_variant | json }},
					has_only_default_variant: {{product_1914810957922.has_only_default_variant | json }},
					options_with_values: {{product_1914810957922.options_with_values | json }},
					selected_variant: {{product_1914810957922.selected_variant | json }},
					selected_or_first_available_variant: {{product_1914810957922.selected_or_first_available_variant | json }},
					tags: {{product_1914810957922.tags | json }},
					template_suffix: {{product_1914810957922.template_suffix | json }},
					featured_image: {{product_1914810957922.featured_image | json }},
					featured_media: {{product_1914810957922.featured_media | json }},
					images: {{product_1914810957922.images | json }}
				};window.__pageflyProducts["1914813644898"] = {
					id: {{product_1914813644898.id | json }},
					handle: {{product_1914813644898.handle | json }},
					title: {{product_1914813644898.title | json }},
					type: {{product_1914813644898.type | json }},
					url: {{product_1914813644898.url | json }},
					vendor: {{product_1914813644898.vendor | json }},
					variants: {{product_1914813644898.variants | json }},
					options: {{product_1914813644898.options | json }},
					media: {{product_1914813644898.media | json }},
					first_available_variant: {{product_1914813644898.first_available_variant | json }},
					has_only_default_variant: {{product_1914813644898.has_only_default_variant | json }},
					options_with_values: {{product_1914813644898.options_with_values | json }},
					selected_variant: {{product_1914813644898.selected_variant | json }},
					selected_or_first_available_variant: {{product_1914813644898.selected_or_first_available_variant | json }},
					tags: {{product_1914813644898.tags | json }},
					template_suffix: {{product_1914813644898.template_suffix | json }},
					featured_image: {{product_1914813644898.featured_image | json }},
					featured_media: {{product_1914813644898.featured_media | json }},
					images: {{product_1914813644898.images | json }}
				};window.__pageflyProducts["4365318193250"] = {
					id: {{product_4365318193250.id | json }},
					handle: {{product_4365318193250.handle | json }},
					title: {{product_4365318193250.title | json }},
					type: {{product_4365318193250.type | json }},
					url: {{product_4365318193250.url | json }},
					vendor: {{product_4365318193250.vendor | json }},
					variants: {{product_4365318193250.variants | json }},
					options: {{product_4365318193250.options | json }},
					media: {{product_4365318193250.media | json }},
					first_available_variant: {{product_4365318193250.first_available_variant | json }},
					has_only_default_variant: {{product_4365318193250.has_only_default_variant | json }},
					options_with_values: {{product_4365318193250.options_with_values | json }},
					selected_variant: {{product_4365318193250.selected_variant | json }},
					selected_or_first_available_variant: {{product_4365318193250.selected_or_first_available_variant | json }},
					tags: {{product_4365318193250.tags | json }},
					template_suffix: {{product_4365318193250.template_suffix | json }},
					featured_image: {{product_4365318193250.featured_image | json }},
					featured_media: {{product_4365318193250.featured_media | json }},
					images: {{product_4365318193250.images | json }}
				};window.__pageflyProducts["1914817544290"] = {
					id: {{product_1914817544290.id | json }},
					handle: {{product_1914817544290.handle | json }},
					title: {{product_1914817544290.title | json }},
					type: {{product_1914817544290.type | json }},
					url: {{product_1914817544290.url | json }},
					vendor: {{product_1914817544290.vendor | json }},
					variants: {{product_1914817544290.variants | json }},
					options: {{product_1914817544290.options | json }},
					media: {{product_1914817544290.media | json }},
					first_available_variant: {{product_1914817544290.first_available_variant | json }},
					has_only_default_variant: {{product_1914817544290.has_only_default_variant | json }},
					options_with_values: {{product_1914817544290.options_with_values | json }},
					selected_variant: {{product_1914817544290.selected_variant | json }},
					selected_or_first_available_variant: {{product_1914817544290.selected_or_first_available_variant | json }},
					tags: {{product_1914817544290.tags | json }},
					template_suffix: {{product_1914817544290.template_suffix | json }},
					featured_image: {{product_1914817544290.featured_image | json }},
					featured_media: {{product_1914817544290.featured_media | json }},
					images: {{product_1914817544290.images | json }}
				};window.__pageflyProducts["3954544115810"] = {
					id: {{product_3954544115810.id | json }},
					handle: {{product_3954544115810.handle | json }},
					title: {{product_3954544115810.title | json }},
					type: {{product_3954544115810.type | json }},
					url: {{product_3954544115810.url | json }},
					vendor: {{product_3954544115810.vendor | json }},
					variants: {{product_3954544115810.variants | json }},
					options: {{product_3954544115810.options | json }},
					media: {{product_3954544115810.media | json }},
					first_available_variant: {{product_3954544115810.first_available_variant | json }},
					has_only_default_variant: {{product_3954544115810.has_only_default_variant | json }},
					options_with_values: {{product_3954544115810.options_with_values | json }},
					selected_variant: {{product_3954544115810.selected_variant | json }},
					selected_or_first_available_variant: {{product_3954544115810.selected_or_first_available_variant | json }},
					tags: {{product_3954544115810.tags | json }},
					template_suffix: {{product_3954544115810.template_suffix | json }},
					featured_image: {{product_3954544115810.featured_image | json }},
					featured_media: {{product_3954544115810.featured_media | json }},
					images: {{product_3954544115810.images | json }}
				};window.__pageflyProducts["1916748759138"] = {
					id: {{product_1916748759138.id | json }},
					handle: {{product_1916748759138.handle | json }},
					title: {{product_1916748759138.title | json }},
					type: {{product_1916748759138.type | json }},
					url: {{product_1916748759138.url | json }},
					vendor: {{product_1916748759138.vendor | json }},
					variants: {{product_1916748759138.variants | json }},
					options: {{product_1916748759138.options | json }},
					media: {{product_1916748759138.media | json }},
					first_available_variant: {{product_1916748759138.first_available_variant | json }},
					has_only_default_variant: {{product_1916748759138.has_only_default_variant | json }},
					options_with_values: {{product_1916748759138.options_with_values | json }},
					selected_variant: {{product_1916748759138.selected_variant | json }},
					selected_or_first_available_variant: {{product_1916748759138.selected_or_first_available_variant | json }},
					tags: {{product_1916748759138.tags | json }},
					template_suffix: {{product_1916748759138.template_suffix | json }},
					featured_image: {{product_1916748759138.featured_image | json }},
					featured_media: {{product_1916748759138.featured_media | json }},
					images: {{product_1916748759138.images | json }}
				};window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					first_available_variant: {{product.first_available_variant | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};window.__pageflyProducts["4461353795682"] = {
					id: {{product_4461353795682.id | json }},
					handle: {{product_4461353795682.handle | json }},
					title: {{product_4461353795682.title | json }},
					type: {{product_4461353795682.type | json }},
					url: {{product_4461353795682.url | json }},
					vendor: {{product_4461353795682.vendor | json }},
					variants: {{product_4461353795682.variants | json }},
					options: {{product_4461353795682.options | json }},
					media: {{product_4461353795682.media | json }},
					first_available_variant: {{product_4461353795682.first_available_variant | json }},
					has_only_default_variant: {{product_4461353795682.has_only_default_variant | json }},
					options_with_values: {{product_4461353795682.options_with_values | json }},
					selected_variant: {{product_4461353795682.selected_variant | json }},
					selected_or_first_available_variant: {{product_4461353795682.selected_or_first_available_variant | json }},
					tags: {{product_4461353795682.tags | json }},
					template_suffix: {{product_4461353795682.template_suffix | json }},
					featured_image: {{product_4461353795682.featured_image | json }},
					featured_media: {{product_4461353795682.featured_media | json }},
					images: {{product_4461353795682.images | json }}
				};
	</script>{% if collection_137282027618 == null %}{%- assign collection_137282027618 = collections['shop'] -%}{% endif %} {% if collection_153228771426 == null %}{%- assign collection_153228771426 = collections['testing'] -%}{% endif %}<script>
	window.__pageflyCollections = window.__pageflyCollections || {};
	window.__pageflyCollections["137282027618"] = {{collection_137282027618 | json }};window.__pageflyCollections["153228771426"] = {{collection_153228771426 | json }};
	</script><div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-f45757a6"><div data-pf-type="Layout" class="pf-bdf45757"><div data-container="true" class="sc-pZopv bjKdkd pf-b39b99bb pf-products" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-678712df pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-6eac6787" data-pf-type="Column"><h1 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-efb06eac"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-6574efb0">Plant Protein Perfected</span></h1></div></div></div><div class="sc-qPjXN eYzxUD pf-8abdf692 pf-r pf-r-align--cm pf-r-ew--3 pf-r-ew fade-in" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:5px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-c0d3b3c4" data-pf-type="Column"><div data-product-id="1914810957922" data-default-variant="18218557931618" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-d0273388 product">{% assign defaultProduct = product %}{% assign product = product_1914810957922 %} {% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-69d02733" %}<div class="sc-qPjXN eYzxUD pf-b969d027 pf-r pf-r-eh pf-r-ew product-details-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-c19cb969 product-details-column" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-pzLIQ SfOJX pf-aaab7307 animate-shrink animate-shrink product-image">{% assign img_size = product.images.size %}<div class="sc-qZusK vHMOL">{% if img_size > 1 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="false" mode="view" class="sc-pQERe kZYFQD" style="--pf-d-lg:flex; --pf-d-md:flex; --pf-d-sm:flex; --pf-d-xs:flex;"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="450px" spacing="10px" class="sc-pHHLp blakCf">{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-psbuI efwYHr" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-a4ec4b96--vanillaoptimized.png?v=1592340667 1200w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-a4ec4b96--vanillaoptimized.png?v=1592340667 800w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-a4ec4b96--vanillaoptimized_400x466.png?v=1592340667&resized 400w" class="sc-qZtVr dLIPjF pf-7307300b background" data-pf-type="Image2"><div class="sc-qPjXN eYzxUD pf-120f0e16 pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--9 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-7ff4aaa4 title" data-pf-type="Column"><h1 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-plgA-D dNfjzh pf-300bb769 text-uppercase mb-1">{{ product.title }}</h1></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--4 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-aaa486df col" data-pf-type="Column"><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-b7691ad0 text-uppercase mb-1">{{ product.variants[0].price | money }}</div></div></div></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-1ad04e25">{% unless product.metafields.global.product_lightbox_image_url == blank %}
{%- assign mColour = product.metafields.global.product_lightbox_image_url -%}

    <!-- product info lightbox -->
    <div class="link mb-2">

        <a class="product-link lightbox" data-fancybox="" data-src="#{{ product.id }}_lightbox">

            <h6>Nutrition, Ingredients, Benefits</h6>

        </a>

        <div style="display: none;" id="{{ product.id }}_lightbox" class="bg-dark product-lightbox">

            <div class="row justify-content-center align-items-center">

                <div class="col-lg-6 background-white">

                    <img src="{{ mColour }}" alt="Nutrition Facts">

                </div>

                <div class="col-lg-6 text-center lightbox-content">

                    <p>{{ product.metafields.global.product_lightbox_text_html }}</p>

                </div>

            </div>

        </div>

    </div>
{% endunless %}</div><div data-pf-type="ReCharge" class="sc-psrQp kkPGoW pf-4e256129 selectors">{% include 'subscription-product' %}</div><div data-product-id="{{ product.id }}" data-display="dropdown" data-pf-type="ProductVariant" class="sc-pQfSI gluJHn pf-6129e49b" style="--pf-s-lg:16px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div><div class="sc-qPjXN eYzxUD pf-0e16c19c pf-r pf-r-align--cm quantity-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--8 pf-c-md--8 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-86dfc439 product-variants" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-display="radio" data-pf-type="ProductVariant" class="sc-pQfSI jGpWza pf-e49b4a9a" style="--pf-s-lg:5px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--4 pf-c-md--4 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-c43940bd form-group quantity col px-0" data-pf-type="Column"><div data-product-id="{{ product.id }}" size="50" data-pf-type="ProductQuantity" class="sc-pQQAz euKLeR pf-4a9a3113 product-quantity"><button data-quantity-action="decrease" data-quantity-disabled="true" type="button">-</button><input min="1" type="number" data-hidespinner="true" name="quantity" value="1"><button type="button" data-quantity-action="increase">+</button></div></div></div></div><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-40bd120f"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-31137ff4">                <button data-productid="{{product.id}}" class="btn btn--to-secondary btn--full product__add-to-cart-button ajax_form_cart single_add_to_cart_button mt-1" type="submit" id="add" value="Add to Cart" aria-label="{{ 'products.product.add_to_cart' | t }}">
                    <span class="secondary-text" aria-hidden="true" data-cart-secondary-submit-text="">{{ 'products.product.add_to_cart' | t }}</span>
                </button></div></div></div></div></div>{% endform %}{% assign product = defaultProduct %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-33880f34" data-pf-type="Column"><div data-product-id="1914813644898" data-default-variant="18218580574306" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-a5a4ec4b product">{% assign defaultProduct = product %}{% assign product = product_1914813644898 %} {% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-2ea5a4ec" %}<div class="sc-qPjXN eYzxUD pf-5c2ea5a4 pf-r pf-r-eh pf-r-ew product-details-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-04555c2e product-details-column" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-pzLIQ SfOJX pf-f79c8575 animate-shrink animate-shrink product-image">{% assign img_size = product.images.size %}<div class="sc-qZusK vHMOL">{% if img_size > 1 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="false" mode="view" class="sc-pQERe kZYFQD" style="--pf-d-lg:flex; --pf-d-md:flex; --pf-d-sm:flex; --pf-d-xs:flex;"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="450px" spacing="10px" class="sc-pHHLp blakCf">{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-psbuI efwYHr" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-ec4b9691--chocolateoptimized.png?v=1592340691 1200w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-ec4b9691--chocolateoptimized.png?v=1592340691 800w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-ec4b9691--chocolateoptimized_400x466.png?v=1592340691&resized 400w" class="sc-qZtVr dLIPjF pf-8575f0b7 background" data-pf-type="Image2"><div class="sc-qPjXN eYzxUD pf-27939af6 pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-98130eeb title" data-pf-type="Column"><h1 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-plgA-D dNfjzh pf-f0b727b6 text-uppercase mb-1">{{ product.title }}</h1></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--7 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-0eebc888 col" data-pf-type="Column"><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-27b66970 text-uppercase mb-1">{{ product.variants[0].price | money }}</div></div></div></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-dbebd5a5">{% unless product.metafields.global.product_lightbox_image_url == blank %}
{%- assign mColour = product.metafields.global.product_lightbox_image_url -%}

    <!-- product info lightbox -->
    <div class="link mb-2">

        <a class="product-link lightbox" data-fancybox="" data-src="#{{ product.id }}_lightbox">

            <h6>Nutrition, Ingredients, Benefits</h6>

        </a>

        <div style="display: none;" id="{{ product.id }}_lightbox" class="bg-dark product-lightbox">

            <div class="row justify-content-center align-items-center">

                <div class="col-lg-6 background-white">

                    <img src="{{ mColour }}" alt="Nutrition Facts">

                </div>

                <div class="col-lg-6 text-center lightbox-content">

                    <p>{{ product.metafields.global.product_lightbox_text_html }}</p>

                </div>

            </div>

        </div>

    </div>
{% endunless %}</div><div data-pf-type="ReCharge" class="sc-psrQp kkPGoW pf-6970be46 selectors">{% include 'subscription-product' %}</div><div data-product-id="{{ product.id }}" data-display="dropdown" data-pf-type="ProductVariant" class="sc-pQfSI gluJHn pf-be467999" style="--pf-s-lg:16px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div><div class="sc-qPjXN eYzxUD pf-9af60391 pf-r pf-r-align--cm quantity-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-c888df78 product-variants" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-display="radio" data-pf-type="ProductVariant" class="sc-pQfSI jGpWza pf-799911a2" style="--pf-s-lg:5px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--4 pf-c-md--4 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-df78411d form-group quantity col px-0" data-pf-type="Column"><div data-product-id="{{ product.id }}" size="40" data-pf-type="ProductQuantity" class="sc-pQQAz daLzjN pf-11a2df4f product-quantity"><button data-quantity-action="decrease" data-quantity-disabled="true" type="button">-</button><input min="1" type="number" data-hidespinner="true" name="quantity" value="1"><button type="button" data-quantity-action="increase">+</button></div></div></div></div><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-03910455"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-bfaec397">                <button data-productid="{{product.id}}" class="btn btn--to-secondary btn--full product__add-to-cart-button ajax_form_cart single_add_to_cart_button mt-1" type="submit" id="add" value="Add to Cart" aria-label="{{ 'products.product.add_to_cart' | t }}">
                    <span class="secondary-text" aria-hidden="true" data-cart-secondary-submit-text="">{{ 'products.product.add_to_cart' | t }}</span>
                </button></div></div></div></div></div>{% endform %}{% assign product = defaultProduct %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-e38fe076" data-pf-type="Column"><div data-product-id="1914817544290" data-default-variant="18218611081314" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-73a52baa product">{% assign defaultProduct = product %}{% assign product = product_1914817544290 %} {% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-6373a52b" %}<div class="sc-qPjXN eYzxUD pf-086373a5 pf-r pf-r-eh pf-r-ew product-details-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-ba860863 product-details-column" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-pzLIQ SfOJX pf-96911235 animate-shrink animate-shrink product-image">{% assign img_size = product.images.size %}<div class="sc-qZusK vHMOL">{% if img_size > 1 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="false" mode="view" class="sc-pQERe kZYFQD" style="--pf-d-lg:flex; --pf-d-md:flex; --pf-d-sm:flex; --pf-d-xs:flex;"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="450px" spacing="10px" class="sc-pHHLp blakCf">{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-psbuI efwYHr" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-a52baa08--matchaoptimized.png?v=1592340819 1200w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-a52baa08--matchaoptimized.png?v=1592340819 800w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-a52baa08--matchaoptimized_400x466.png?v=1592340819&resized 400w" class="sc-qZtVr dLIPjF pf-12351a01 background" data-pf-type="Image2"><div class="sc-qPjXN eYzxUD pf-6c1a94d2 pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-61c4f8a6 title" data-pf-type="Column"><h1 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-plgA-D dNfjzh pf-1a019c78 text-uppercase mb-1">{{ product.title }}</h1></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--9 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-f8a668ce col" data-pf-type="Column"><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-9c784e42 text-uppercase mb-1">{{ product.variants[0].price | money }}</div></div></div></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-a5122df6">{% unless product.metafields.global.product_lightbox_image_url == blank %}
{%- assign mColour = product.metafields.global.product_lightbox_image_url -%}

    <!-- product info lightbox -->
    <div class="link mb-2">

        <a class="product-link lightbox" data-fancybox="" data-src="#{{ product.id }}_lightbox">

            <h6>Nutrition, Ingredients, Benefits</h6>

        </a>

        <div style="display: none;" id="{{ product.id }}_lightbox" class="bg-dark product-lightbox">

            <div class="row justify-content-center align-items-center">

                <div class="col-lg-6 background-white">

                    <img src="{{ mColour }}" alt="Nutrition Facts">

                </div>

                <div class="col-lg-6 text-center lightbox-content">

                    <p>{{ product.metafields.global.product_lightbox_text_html }}</p>

                </div>

            </div>

        </div>

    </div>
{% endunless %}</div><div data-pf-type="ReCharge" class="sc-psrQp kkPGoW pf-4e420cbb selectors">{% include 'subscription-product' %}</div><div data-product-id="{{ product.id }}" data-display="dropdown" data-pf-type="ProductVariant" class="sc-pQfSI gluJHn pf-0cbbd465" style="--pf-s-lg:16px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div><div class="sc-qPjXN eYzxUD pf-94d2a418 pf-r pf-r-align--cm quantity-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-68ceebb1 product-variants" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-display="radio" data-pf-type="ProductVariant" class="sc-pQfSI jGpWza pf-d465ebf0" style="--pf-s-lg:5px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--4 pf-c-md--4 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-ebb1546f form-group quantity col px-0" data-pf-type="Column"><div data-product-id="{{ product.id }}" size="40" data-pf-type="ProductQuantity" class="sc-pQQAz daLzjN pf-ebf0499b product-quantity"><button data-quantity-action="decrease" data-quantity-disabled="true" type="button">-</button><input min="1" type="number" data-hidespinner="true" name="quantity" value="1"><button type="button" data-quantity-action="increase">+</button></div></div></div></div><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-a418ba86"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-97139978">                <button data-productid="{{product.id}}" class="btn btn--to-secondary btn--full product__add-to-cart-button ajax_form_cart single_add_to_cart_button mt-1" type="submit" id="add" value="Add to Cart" aria-label="{{ 'products.product.add_to_cart' | t }}">
                    <span class="secondary-text" aria-hidden="true" data-cart-secondary-submit-text="">{{ 'products.product.add_to_cart' | t }}</span>
                </button></div></div></div></div></div>{% endform %}{% assign product = defaultProduct %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-d90fbe1b" data-pf-type="Column"><div data-product-id="1916748759138" data-default-variant="18234030588002" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-62527273 product">{% assign defaultProduct = product %}{% assign product = product_1916748759138 %} {% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-31625272" %}<div class="sc-qPjXN eYzxUD pf-4c316252 pf-r pf-r-eh pf-r-ew product-details-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-3d9b4c31 product-details-column" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-pzLIQ SfOJX pf-aa082e12 animate-shrink animate-shrink product-image">{% assign img_size = product.images.size %}<div class="sc-qZusK vHMOL">{% if img_size > 1 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="false" mode="view" class="sc-pQERe kZYFQD" style="--pf-d-lg:flex; --pf-d-md:flex; --pf-d-sm:flex; --pf-d-xs:flex;"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="450px" spacing="10px" class="sc-pHHLp blakCf">{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-psbuI efwYHr" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-72737a3f--mixed.png?v=1592340903 1200w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-72737a3f--mixed.png?v=1592340903 800w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-72737a3f--mixed_400x466.png?v=1592340903&resized 400w" class="sc-qZtVr dLIPjF pf-2e129a04 background" data-pf-type="Image2"><div class="sc-qPjXN eYzxUD pf-f2b8531e pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-e48bd868 title" data-pf-type="Column"><h1 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-plgA-D dNfjzh pf-9a04ba89 text-uppercase mb-1">{{ product.title }}</h1></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--8 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-d86892d7 col" data-pf-type="Column"><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-ba89c785 text-uppercase mb-1">{{ product.variants[0].price | money }}</div></div></div></div><div data-pf-type="ReCharge" class="sc-psrQp kkPGoW pf-c7857fa0 selectors">{% include 'subscription-product' %}</div><div data-product-id="{{ product.id }}" data-display="dropdown" data-pf-type="ProductVariant" class="sc-pQfSI gluJHn pf-7fa0667e" style="--pf-s-lg:16px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div><div class="sc-qPjXN eYzxUD pf-531eacf1 pf-r pf-r-align--cm quantity-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-92d73912 product-variants" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-display="radio" data-pf-type="ProductVariant" class="sc-pQfSI jGpWza pf-667e605b" style="--pf-s-lg:5px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--4 pf-c-md--4 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-3912bcde form-group quantity col px-0" data-pf-type="Column"><div data-product-id="{{ product.id }}" size="40" data-pf-type="ProductQuantity" class="sc-pQQAz daLzjN pf-605b9405 product-quantity"><button data-quantity-action="decrease" data-quantity-disabled="true" type="button">-</button><input min="1" type="number" data-hidespinner="true" name="quantity" value="1"><button type="button" data-quantity-action="increase">+</button></div></div></div></div><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-acf13d9b"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-efe63c7e">                <button data-productid="{{product.id}}" class="btn btn--to-secondary btn--full product__add-to-cart-button ajax_form_cart single_add_to_cart_button mt-1" type="submit" id="add" value="Add to Cart" aria-label="{{ 'products.product.add_to_cart' | t }}">
                    <span class="secondary-text" aria-hidden="true" data-cart-secondary-submit-text="">{{ 'products.product.add_to_cart' | t }}</span>
                </button></div></div></div></div></div>{% endform %}{% assign product = defaultProduct %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-dd37376c" data-pf-type="Column"><div data-product-id="4461353795682" data-default-variant="31800773738594" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-0e6c8c1e product">{% assign defaultProduct = product %}{% assign product = product_4461353795682 %} {% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-c80e6c8c" %}<div class="sc-qPjXN eYzxUD pf-06c80e6c pf-r pf-r-eh pf-r-ew product-details-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-765906c8 product-details-column" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-pzLIQ SfOJX pf-7a3f0b44 animate-shrink animate-shrink product-image">{% assign img_size = product.images.size %}<div class="sc-qZusK vHMOL">{% if img_size > 1 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="false" mode="view" class="sc-pQERe kZYFQD" style="--pf-d-lg:flex; --pf-d-md:flex; --pf-d-sm:flex; --pf-d-xs:flex;"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="450px" spacing="10px" class="sc-pHHLp blakCf">{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-psbuI efwYHr" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-6c8c1ebc--trialoptimized.png?v=1592340956 1200w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-6c8c1ebc--trialoptimized.png?v=1592340956 800w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-6c8c1ebc--trialoptimized_400x466.png?v=1592340956&resized 400w" class="sc-qZtVr dLIPjF pf-0b44b755 background" data-pf-type="Image2"><div class="sc-qPjXN eYzxUD pf-1c5c9967 pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-2efa740a title" data-pf-type="Column"><h1 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-plgA-D dNfjzh pf-b755abf8 text-uppercase mb-1">{{ product.title }}</h1></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--9 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-740ac943 col" data-pf-type="Column"><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-abf8370a text-uppercase mb-1">{{ product.variants[0].price | money }}</div></div></div></div><div data-pf-type="ReCharge" class="sc-psrQp kkPGoW pf-370aa293 selectors pf-lg--hidden pf-md--hidden pf-sm--hidden pf-xs--hidden">{% include 'subscription-product' %}</div><div data-product-id="{{ product.id }}" data-display="dropdown" data-pf-type="ProductVariant" class="sc-pQfSI gluJHn pf-a2936467" style="--pf-s-lg:16px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div><div class="sc-qPjXN eYzxUD pf-996799ab pf-r pf-r-align--cm quantity-row pf-lg--hidden pf-md--hidden pf-sm--hidden pf-xs--hidden" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-c943c70d product-variants" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-display="radio" data-pf-type="ProductVariant" class="sc-pQfSI jGpWza pf-64673aea pf-lg--hidden pf-md--hidden pf-sm--hidden pf-xs--hidden" style="--pf-s-lg:5px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--4 pf-c-md--4 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-c70d0793 form-group quantity col px-0" data-pf-type="Column"><div data-product-id="{{ product.id }}" size="40" data-pf-type="ProductQuantity" class="sc-pQQAz daLzjN pf-3aea76bc product-quantity"><button data-quantity-action="decrease" data-quantity-disabled="true" type="button">-</button><input min="1" type="number" data-hidespinner="true" name="quantity" value="1"><button type="button" data-quantity-action="increase">+</button></div></div></div></div><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-99ab7659"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-7866b0ef">                <button data-productid="{{product.id}}" class="btn btn--to-secondary btn--full product__add-to-cart-button ajax_form_cart single_add_to_cart_button mt-1" type="submit" id="add" value="Add to Cart" aria-label="{{ 'products.product.add_to_cart' | t }}">
                    <span class="secondary-text" aria-hidden="true" data-cart-secondary-submit-text="">{{ 'products.product.add_to_cart' | t }}</span>
                </button></div></div></div></div></div>{% endform %}{% assign product = defaultProduct %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-7d819dc0" data-pf-type="Column"><div data-product-id="4365318193250" data-default-variant="31312484794466" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-d1e70c59 product">{% assign defaultProduct = product %}{% assign product = product_4365318193250 %} {% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-ced1e70c" %}<div class="sc-qPjXN eYzxUD pf-cfced1e7 pf-r pf-r-eh pf-r-ew product-details-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-d262cfce product-details-column" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-pzLIQ SfOJX pf-1ebc932b animate-shrink animate-shrink product-image">{% assign img_size = product.images.size %}<div class="sc-qZusK vHMOL">{% if img_size > 1 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="false" mode="view" class="sc-pQERe kZYFQD" style="--pf-d-lg:flex; --pf-d-md:flex; --pf-d-sm:flex; --pf-d-xs:flex;"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="450px" spacing="10px" class="sc-pHHLp blakCf">{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-psbuI efwYHr" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-e70c5985--chocolate-vanillaoptimized.png?v=1592341011 1200w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-e70c5985--chocolate-vanillaoptimized.png?v=1592341011 800w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-e70c5985--chocolate-vanillaoptimized_400x466.png?v=1592341011&resized 400w" class="sc-qZtVr dLIPjF pf-932bd875 background" data-pf-type="Image2"><div class="sc-qPjXN eYzxUD pf-0f54a81a pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-deec79f0 title" data-pf-type="Column"><h1 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-plgA-D dNfjzh pf-d8752723 text-uppercase mb-1">{{ product.title }}</h1></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--4 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-79f00c98 col" data-pf-type="Column"><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-27233b75 text-uppercase mb-1">{{ product.variants[0].price | money }}</div></div></div></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-9f23eb2a">{% unless product.metafields.global.product_lightbox_image_url == blank %}
{%- assign mColour = product.metafields.global.product_lightbox_image_url -%}

    <!-- product info lightbox -->
    <div class="link mb-2">

        <a class="product-link lightbox" data-fancybox="" data-src="#{{ product.id }}_lightbox">

            <h6>Nutrition, Ingredients, Benefits</h6>

        </a>

        <div style="display: none;" id="{{ product.id }}_lightbox" class="bg-dark product-lightbox">

            <div class="row justify-content-center align-items-center">

                <div class="col-lg-6 background-white">

                    <img src="{{ mColour }}" alt="Nutrition Facts">

                </div>

                <div class="col-lg-6 text-center lightbox-content">

                    <p>{{ product.metafields.global.product_lightbox_text_html }}</p>

                </div>

            </div>

        </div>

    </div>
{% endunless %}</div><div data-pf-type="ReCharge" class="sc-psrQp kkPGoW pf-3b752215 selectors">{% include 'subscription-product' %}</div><div data-product-id="{{ product.id }}" data-display="dropdown" data-pf-type="ProductVariant" class="sc-pQfSI gluJHn pf-2215eaac" style="--pf-s-lg:16px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div><div class="sc-qPjXN eYzxUD pf-a81a10d3 pf-r pf-r-align--cm quantity-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-0c98f501 product-variants" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-display="radio" data-pf-type="ProductVariant" class="sc-pQfSI jGpWza pf-eaac9b2f" style="--pf-s-lg:5px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--4 pf-c-md--4 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-f5013a40 form-group quantity col px-0" data-pf-type="Column"><div data-product-id="{{ product.id }}" size="40" data-pf-type="ProductQuantity" class="sc-pQQAz daLzjN pf-9b2f1016 product-quantity"><button data-quantity-action="decrease" data-quantity-disabled="true" type="button">-</button><input min="1" type="number" data-hidespinner="true" name="quantity" value="1"><button type="button" data-quantity-action="increase">+</button></div></div></div></div><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-10d3d262"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-12dfc10d">                <button data-productid="{{product.id}}" class="btn btn--to-secondary btn--full product__add-to-cart-button ajax_form_cart single_add_to_cart_button mt-1" type="submit" id="add" value="Add to Cart" aria-label="{{ 'products.product.add_to_cart' | t }}">
                    <span class="secondary-text" aria-hidden="true" data-cart-secondary-submit-text="">{{ 'products.product.add_to_cart' | t }}</span>
                </button></div></div></div></div></div>{% endform %}{% assign product = defaultProduct %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-4eb760a4" data-pf-type="Column"></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.12.3","shopDomain":"drinkkiito.myshopify.com","elementData":{"pf-aaab7307 animate-shrink":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"},"pf-f79c8575 animate-shrink":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"},"pf-96911235 animate-shrink":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"},"pf-aa082e12 animate-shrink":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"},"pf-7a3f0b44 animate-shrink":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"},"pf-1ebc932b animate-shrink":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"}},"pageTitle":"Recharge Shop Collection Page (tabs)","pageType":"collection","pageId":"f67b47a7-87b8-4a47-9fd5-f546b7caa680","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[]};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.12.3/core/helper.js?t=20200707200732" defer></script><script><!-- Add this script to your header -->
var is_chrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;
if(is_chrome){
  document.write('{{- 'chrome.css' | asset_url | stylesheet_tag -}}');
}
</script>