<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400,500,700&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.13.6/css/main-style.css?t=20200827160825"><link rel="stylesheet" href="{{ 'pagefly.d44faef7.scss.css' | asset_url }}">
		  {% if product_4461337542754 == null %}{%- assign product_4461337542754 = all_products['4-flavor-mixed-case'] -%}{% endif %} {% if product_4294231457890 == null %}{%- assign product_4294231457890 = all_products['dark-chocolate-prepaid'] -%}{% endif %} {% if product_4489604333666 == null %}{%- assign product_4489604333666 = all_products['matcha-latte-prepaid'] -%}{% endif %} {% if product_4489604956258 == null %}{%- assign product_4489604956258 = all_products['vanilla-bean-prepaid'] -%}{% endif %} {% if product_4489603678306 == null %}{%- assign product_4489603678306 = all_products['chocolate-vanilla-prepaid'] -%}{% endif %} {% if product_4461353795682 == null %}{%- assign product_4461353795682 = all_products['trial-6-pack'] -%}{% endif %} {% if product_4489604694114 == null %}{%- assign product_4489604694114 = all_products['mocha-latte-prepaid'] -%}{% endif %}<script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	window.__pageflyProducts["4461337542754"] = {
					id: {{product_4461337542754.id | json }},
					handle: {{product_4461337542754.handle | json }},
					title: {{product_4461337542754.title | json }},
					type: {{product_4461337542754.type | json }},
					url: {{product_4461337542754.url | json }},
					vendor: {{product_4461337542754.vendor | json }},
					variants: {{product_4461337542754.variants | json }},
					options: {{product_4461337542754.options | json }},
					media: {{product_4461337542754.media | json }},
					first_available_variant: {{product_4461337542754.first_available_variant | json }},
					has_only_default_variant: {{product_4461337542754.has_only_default_variant | json }},
					options_with_values: {{product_4461337542754.options_with_values | json }},
					selected_variant: {{product_4461337542754.selected_variant | json }},
					selected_or_first_available_variant: {{product_4461337542754.selected_or_first_available_variant | json }},
					tags: {{product_4461337542754.tags | json }},
					template_suffix: {{product_4461337542754.template_suffix | json }},
					featured_image: {{product_4461337542754.featured_image | json }},
					featured_media: {{product_4461337542754.featured_media | json }},
					images: {{product_4461337542754.images | json }}
				};window.__pageflyProducts["4294231457890"] = {
					id: {{product_4294231457890.id | json }},
					handle: {{product_4294231457890.handle | json }},
					title: {{product_4294231457890.title | json }},
					type: {{product_4294231457890.type | json }},
					url: {{product_4294231457890.url | json }},
					vendor: {{product_4294231457890.vendor | json }},
					variants: {{product_4294231457890.variants | json }},
					options: {{product_4294231457890.options | json }},
					media: {{product_4294231457890.media | json }},
					first_available_variant: {{product_4294231457890.first_available_variant | json }},
					has_only_default_variant: {{product_4294231457890.has_only_default_variant | json }},
					options_with_values: {{product_4294231457890.options_with_values | json }},
					selected_variant: {{product_4294231457890.selected_variant | json }},
					selected_or_first_available_variant: {{product_4294231457890.selected_or_first_available_variant | json }},
					tags: {{product_4294231457890.tags | json }},
					template_suffix: {{product_4294231457890.template_suffix | json }},
					featured_image: {{product_4294231457890.featured_image | json }},
					featured_media: {{product_4294231457890.featured_media | json }},
					images: {{product_4294231457890.images | json }}
				};window.__pageflyProducts["4489604333666"] = {
					id: {{product_4489604333666.id | json }},
					handle: {{product_4489604333666.handle | json }},
					title: {{product_4489604333666.title | json }},
					type: {{product_4489604333666.type | json }},
					url: {{product_4489604333666.url | json }},
					vendor: {{product_4489604333666.vendor | json }},
					variants: {{product_4489604333666.variants | json }},
					options: {{product_4489604333666.options | json }},
					media: {{product_4489604333666.media | json }},
					first_available_variant: {{product_4489604333666.first_available_variant | json }},
					has_only_default_variant: {{product_4489604333666.has_only_default_variant | json }},
					options_with_values: {{product_4489604333666.options_with_values | json }},
					selected_variant: {{product_4489604333666.selected_variant | json }},
					selected_or_first_available_variant: {{product_4489604333666.selected_or_first_available_variant | json }},
					tags: {{product_4489604333666.tags | json }},
					template_suffix: {{product_4489604333666.template_suffix | json }},
					featured_image: {{product_4489604333666.featured_image | json }},
					featured_media: {{product_4489604333666.featured_media | json }},
					images: {{product_4489604333666.images | json }}
				};window.__pageflyProducts["4489604956258"] = {
					id: {{product_4489604956258.id | json }},
					handle: {{product_4489604956258.handle | json }},
					title: {{product_4489604956258.title | json }},
					type: {{product_4489604956258.type | json }},
					url: {{product_4489604956258.url | json }},
					vendor: {{product_4489604956258.vendor | json }},
					variants: {{product_4489604956258.variants | json }},
					options: {{product_4489604956258.options | json }},
					media: {{product_4489604956258.media | json }},
					first_available_variant: {{product_4489604956258.first_available_variant | json }},
					has_only_default_variant: {{product_4489604956258.has_only_default_variant | json }},
					options_with_values: {{product_4489604956258.options_with_values | json }},
					selected_variant: {{product_4489604956258.selected_variant | json }},
					selected_or_first_available_variant: {{product_4489604956258.selected_or_first_available_variant | json }},
					tags: {{product_4489604956258.tags | json }},
					template_suffix: {{product_4489604956258.template_suffix | json }},
					featured_image: {{product_4489604956258.featured_image | json }},
					featured_media: {{product_4489604956258.featured_media | json }},
					images: {{product_4489604956258.images | json }}
				};window.__pageflyProducts["4489603678306"] = {
					id: {{product_4489603678306.id | json }},
					handle: {{product_4489603678306.handle | json }},
					title: {{product_4489603678306.title | json }},
					type: {{product_4489603678306.type | json }},
					url: {{product_4489603678306.url | json }},
					vendor: {{product_4489603678306.vendor | json }},
					variants: {{product_4489603678306.variants | json }},
					options: {{product_4489603678306.options | json }},
					media: {{product_4489603678306.media | json }},
					first_available_variant: {{product_4489603678306.first_available_variant | json }},
					has_only_default_variant: {{product_4489603678306.has_only_default_variant | json }},
					options_with_values: {{product_4489603678306.options_with_values | json }},
					selected_variant: {{product_4489603678306.selected_variant | json }},
					selected_or_first_available_variant: {{product_4489603678306.selected_or_first_available_variant | json }},
					tags: {{product_4489603678306.tags | json }},
					template_suffix: {{product_4489603678306.template_suffix | json }},
					featured_image: {{product_4489603678306.featured_image | json }},
					featured_media: {{product_4489603678306.featured_media | json }},
					images: {{product_4489603678306.images | json }}
				};window.__pageflyProducts["4461353795682"] = {
					id: {{product_4461353795682.id | json }},
					handle: {{product_4461353795682.handle | json }},
					title: {{product_4461353795682.title | json }},
					type: {{product_4461353795682.type | json }},
					url: {{product_4461353795682.url | json }},
					vendor: {{product_4461353795682.vendor | json }},
					variants: {{product_4461353795682.variants | json }},
					options: {{product_4461353795682.options | json }},
					media: {{product_4461353795682.media | json }},
					first_available_variant: {{product_4461353795682.first_available_variant | json }},
					has_only_default_variant: {{product_4461353795682.has_only_default_variant | json }},
					options_with_values: {{product_4461353795682.options_with_values | json }},
					selected_variant: {{product_4461353795682.selected_variant | json }},
					selected_or_first_available_variant: {{product_4461353795682.selected_or_first_available_variant | json }},
					tags: {{product_4461353795682.tags | json }},
					template_suffix: {{product_4461353795682.template_suffix | json }},
					featured_image: {{product_4461353795682.featured_image | json }},
					featured_media: {{product_4461353795682.featured_media | json }},
					images: {{product_4461353795682.images | json }}
				};window.__pageflyProducts["4489604694114"] = {
					id: {{product_4489604694114.id | json }},
					handle: {{product_4489604694114.handle | json }},
					title: {{product_4489604694114.title | json }},
					type: {{product_4489604694114.type | json }},
					url: {{product_4489604694114.url | json }},
					vendor: {{product_4489604694114.vendor | json }},
					variants: {{product_4489604694114.variants | json }},
					options: {{product_4489604694114.options | json }},
					media: {{product_4489604694114.media | json }},
					first_available_variant: {{product_4489604694114.first_available_variant | json }},
					has_only_default_variant: {{product_4489604694114.has_only_default_variant | json }},
					options_with_values: {{product_4489604694114.options_with_values | json }},
					selected_variant: {{product_4489604694114.selected_variant | json }},
					selected_or_first_available_variant: {{product_4489604694114.selected_or_first_available_variant | json }},
					tags: {{product_4489604694114.tags | json }},
					template_suffix: {{product_4489604694114.template_suffix | json }},
					featured_image: {{product_4489604694114.featured_image | json }},
					featured_media: {{product_4489604694114.featured_media | json }},
					images: {{product_4489604694114.images | json }}
				};window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					first_available_variant: {{product.first_available_variant | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};
	</script><div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-5f05cc6e"><div data-pf-type="Layout" class="pf-405f05cc"><div data-container="true" class="sc-pZopv bjKdkd pf-44405f05 pf-products" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-d1ab9be5 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-1922102e" data-pf-type="Column"><h1 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-413a76d1"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-42192210">Plant Protein PREPAID</span></h1></div></div></div><div class="sc-qPjXN eYzxUD pf-ba8fb57d pf-r pf-r-align--cm pf-r-ew--3 pf-r-ew fade-in" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:0px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-a599c467" data-pf-type="Column"><div data-product-id="4489604956258" data-default-variant="31903931203682" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-5da599c4 product">{% assign defaultProduct = product %}{% assign product = product_4489604956258 %} {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-77fe2273" %}<div class="sc-qPjXN eYzxUD pf-b0fd77fe pf-r pf-r-eh pf-r-ew product-details-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-025da599 product-details-column" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-pzLIQ SfOJX pf-9be53377 animate-shrink animate-shrink product-image">{% assign img_size = product.images.size %}<div class="sc-qZusK vHMOL">{% if img_size > 1 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="false" mode="view" class="sc-pQERe kZYFQD" style="--pf-d-lg:flex; --pf-d-md:flex; --pf-d-sm:flex; --pf-d-xs:flex;"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="450px" spacing="10px" class="sc-pHHLp blakCf">{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-psbuI efwYHr" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-a4ec4b96--vanillaoptimized.png?v=1592340667 1200w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-a4ec4b96--vanillaoptimized.png?v=1592340667 800w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-a4ec4b96--vanillaoptimized_400x466.png?v=1592340667&resized 400w" class="sc-qZtVr dLIPjF pf-3377b910 background" data-pf-type="Image2"><div class="sc-qPjXN eYzxUD pf-916a1c85 pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--9 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-22102eef title" data-pf-type="Column"><h1 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-plgA-D dNfjzh pf-b910982f text-uppercase mb-1">{{ product.title }}</h1></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--4 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-102eef2a col" data-pf-type="Column"><a data-animation="bounce" data-pf-type="Button" class="sc-pZdvY kuwSuz pf-5c47ad9d prepaid-callout"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-99385c47">20% off!</span></a><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-2fb3b291 text-uppercase mb-1">{{ product.variants[0].price | money }}</div></div></div></div><div class="sc-qPjXN eYzxUD pf-9f9774a0 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--9 pf-c-md--9 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-a4684269" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-b76db316">{% unless product.metafields.global.product_lightbox_image_url == blank %}
{%- assign mColour = product.metafields.global.product_lightbox_image_url -%}

    <!-- product info lightbox -->
    <div class="link mb-2">

        <a class="product-link lightbox" data-fancybox="" data-src="#{{ product.id }}_lightbox">

            <h6>Nutrition, Ingredients, Benefits</h6>

        </a>

        <div style="display: none;" id="{{ product.id }}_lightbox" class="bg-dark product-lightbox">

            <div class="row justify-content-center align-items-center">

                <div class="col-lg-6 background-white">

                    <img src="{{ mColour }}" alt="Nutrition Facts">

                </div>

                <div class="col-lg-6 text-center lightbox-content">

                    <p>{{ product.metafields.global.product_lightbox_text_html }}</p>

                </div>

            </div>

        </div>

    </div>
{% endunless %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-42699f97" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-1b9ae578">{%comment%}
https://drinkkiito.myshopify.com/admin/bulk?resource_name=Product&app_context=&edit=metafields.global.product_prepaid_info_text%3Astring&show=&return_to=%2Fadmin%2Fproducts&metafield_titles=&metafield_options=&query=&%3Avisible=&order=title+asc
{% endcomment %}
{% unless product.metafields.global.product_prepaid_info_text == blank %}

    <!-- product info lightbox -->
    <div class="tooltip-container mb-2">

	  <h6 class="tooltip">Info

		<span class="tooltiptext">{{ product.metafields.global.product_prepaid_info_text }}</span>

	  </h6>

    </div>
{% endunless %}

<style>
  .tooltip-container {
	display: flex;
	justify-content: flex-end;
  }
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  opacity: 1 !important;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 0;
  margin-left: -85px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
</style></div></div></div></div><div data-pf-type="ReCharge" class="sc-psrQp kkPGoW pf-ef2a8802 selectors">{% include 'subscription-product' %}</div><div data-product-id="{{ product.id }}" data-display="dropdown" data-pf-type="ProductVariant" class="sc-pQfSI gluJHn pf-c332c771" style="--pf-s-lg:16px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div><div class="sc-qPjXN eYzxUD pf-c1c42d7e pf-r pf-r-align--cm quantity-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--8 pf-c-md--8 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-28b96bd3 product-variants" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-display="radio" data-pf-type="ProductVariant" class="sc-pQfSI jGpWza pf-c77128b9" style="--pf-s-lg:5px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--4 pf-c-md--4 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-e829c1c4 form-group quantity col px-0" data-pf-type="Column"><div data-product-id="{{ product.id }}" size="50" data-pf-type="ProductQuantity" class="sc-pQQAz euKLeR pf-6bd3e829 product-quantity"><button data-quantity-action="decrease" data-quantity-disabled="true" type="button">-</button><input min="1" type="number" data-hidespinner="true" name="quantity" value="1"><button type="button" data-quantity-action="increase">+</button></div></div></div></div><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-88025da5"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-2a88025d">                <button data-productid="{{product.id}}" class="btn btn--to-secondary btn--full product__add-to-cart-button ajax_form_cart single_add_to_cart_button mt-1" type="submit" id="add" value="Add to Cart" aria-label="{{ 'products.product.add_to_cart' | t }}">
                    <span class="secondary-text" aria-hidden="true" data-cart-secondary-submit-text="">{{ 'products.product.add_to_cart' | t }}</span>
                </button></div></div></div></div></div>{% endform %}{% endif %}{% assign product = defaultProduct %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-39aa9ba8" data-pf-type="Column"><div data-product-id="4294231457890" data-default-variant="30934939533410" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-9a39aa9b product">{% assign defaultProduct = product %}{% assign product = product_4294231457890 %} {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-71cae324" %}<div class="sc-qPjXN eYzxUD pf-8aab71ca pf-r pf-r-eh pf-r-ew product-details-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-5b9a39aa product-details-column" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-pzLIQ SfOJX pf-227337a1 animate-shrink animate-shrink product-image">{% assign img_size = product.images.size %}<div class="sc-qZusK vHMOL">{% if img_size > 1 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="false" mode="view" class="sc-pQERe kZYFQD" style="--pf-d-lg:flex; --pf-d-md:flex; --pf-d-sm:flex; --pf-d-xs:flex;"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="450px" spacing="10px" class="sc-pHHLp blakCf">{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-psbuI efwYHr" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-ec4b9691--chocolateoptimized.png?v=1592340691 1200w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-ec4b9691--chocolateoptimized.png?v=1592340691 800w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-ec4b9691--chocolateoptimized_400x466.png?v=1592340691&resized 400w" class="sc-qZtVr dLIPjF pf-37a14df9 background" data-pf-type="Image2"><div class="sc-qPjXN eYzxUD pf-74fff81b pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-99c467c1 title" data-pf-type="Column"><h1 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-plgA-D dNfjzh pf-4df9594d text-uppercase mb-1">{{ product.title }}</h1></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--7 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-c467c1e0 col" data-pf-type="Column"><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-4d00cf74 text-uppercase mb-1">{{ product.variants[0].price | money }}</div></div></div></div><div class="sc-qPjXN eYzxUD pf-14b01b9a pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--9 pf-c-md--9 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-f5a4899d" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-67c1e0a4">{% unless product.metafields.global.product_lightbox_image_url == blank %}
{%- assign mColour = product.metafields.global.product_lightbox_image_url -%}

    <!-- product info lightbox -->
    <div class="link mb-2">

        <a class="product-link lightbox" data-fancybox="" data-src="#{{ product.id }}_lightbox">

            <h6>Nutrition, Ingredients, Benefits</h6>

        </a>

        <div style="display: none;" id="{{ product.id }}_lightbox" class="bg-dark product-lightbox">

            <div class="row justify-content-center align-items-center">

                <div class="col-lg-6 background-white">

                    <img src="{{ mColour }}" alt="Nutrition Facts">

                </div>

                <div class="col-lg-6 text-center lightbox-content">

                    <p>{{ product.metafields.global.product_lightbox_text_html }}</p>

                </div>

            </div>

        </div>

    </div>
{% endunless %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-899d14b0" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-4779e428">{%comment%}
https://drinkkiito.myshopify.com/admin/bulk?resource_name=Product&app_context=&edit=metafields.global.product_prepaid_info_text%3Astring&show=&return_to=%2Fadmin%2Fproducts&metafield_titles=&metafield_options=&query=&%3Avisible=&order=title+asc
{% endcomment %}
{% unless product.metafields.global.product_prepaid_info_text == blank %}

    <!-- product info lightbox -->
    <div class="tooltip-container mb-2">

	  <h6 class="tooltip">Info

		<span class="tooltiptext">{{ product.metafields.global.product_prepaid_info_text }}</span>

	  </h6>

    </div>
{% endunless %}

<style>
  .tooltip-container {
	display: flex;
	justify-content: flex-end;
  }
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  opacity: 1 !important;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 0;
  margin-left: -85px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
</style></div></div></div></div><div data-pf-type="ReCharge" class="sc-psrQp kkPGoW pf-c1e0a45b selectors">{% include 'subscription-product' %}</div><div data-product-id="{{ product.id }}" data-display="dropdown" data-pf-type="ProductVariant" class="sc-pQfSI gluJHn pf-4bad39a1" style="--pf-s-lg:16px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div><div class="sc-qPjXN eYzxUD pf-d5bfd0a2 pf-r pf-r-align--cm quantity-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-0530baa9 product-variants" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-display="radio" data-pf-type="ProductVariant" class="sc-pQfSI jGpWza pf-39a10530" style="--pf-s-lg:5px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--4 pf-c-md--4 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-a498d5bf form-group quantity col px-0" data-pf-type="Column"><div data-product-id="{{ product.id }}" size="40" data-pf-type="ProductQuantity" class="sc-pQQAz daLzjN pf-baa9a498 product-quantity"><button data-quantity-action="decrease" data-quantity-disabled="true" type="button">-</button><input min="1" type="number" data-hidespinner="true" name="quantity" value="1"><button type="button" data-quantity-action="increase">+</button></div></div></div></div><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-a45b9a39"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-e0a45b9a">                <button data-productid="{{product.id}}" class="btn btn--to-secondary btn--full product__add-to-cart-button ajax_form_cart single_add_to_cart_button mt-1" type="submit" id="add" value="Add to Cart" aria-label="{{ 'products.product.add_to_cart' | t }}">
                    <span class="secondary-text" aria-hidden="true" data-cart-secondary-submit-text="">{{ 'products.product.add_to_cart' | t }}</span>
                </button></div></div></div></div></div>{% endform %}{% endif %}{% assign product = defaultProduct %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-0f6b9333" data-pf-type="Column"><div data-product-id="4489604333666" data-default-variant="31903923699810" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-57221880 product">{% assign defaultProduct = product %}{% assign product = product_4489604333666 %} {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-22188032" %}<div class="sc-qPjXN eYzxUD pf-39ba5722 pf-r pf-r-eh pf-r-ew product-details-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-ff0f6b93 product-details-column" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-pzLIQ SfOJX pf-e3245b77 animate-shrink animate-shrink product-image">{% assign img_size = product.images.size %}<div class="sc-qZusK vHMOL">{% if img_size > 1 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="false" mode="view" class="sc-pQERe kZYFQD" style="--pf-d-lg:flex; --pf-d-md:flex; --pf-d-sm:flex; --pf-d-xs:flex;"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="450px" spacing="10px" class="sc-pHHLp blakCf">{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-psbuI efwYHr" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-a52baa08--matchaoptimized.png?v=1592340819 1200w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-a52baa08--matchaoptimized.png?v=1592340819 800w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-a52baa08--matchaoptimized_400x466.png?v=1592340819&resized 400w" class="sc-qZtVr dLIPjF pf-5b77cf83 background" data-pf-type="Image2"><div class="sc-qPjXN eYzxUD pf-b0a300b5 pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-aa9ba8e6 title" data-pf-type="Column"><h1 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-plgA-D dNfjzh pf-cf83feed text-uppercase mb-1">{{ product.title }}</h1></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--9 pf-c-sm--4 pf-c-md--4 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-9ba8e693 col" data-pf-type="Column"><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-edb364b0 text-uppercase mb-1">{{ product.variants[0].price | money }}</div></div></div></div><div class="sc-qPjXN eYzxUD pf-7d594779 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--9 pf-c-md--9 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-1018a36c" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-a8e693d0">{% unless product.metafields.global.product_lightbox_image_url == blank %}
{%- assign mColour = product.metafields.global.product_lightbox_image_url -%}

    <!-- product info lightbox -->
    <div class="link mb-2">

        <a class="product-link lightbox" data-fancybox="" data-src="#{{ product.id }}_lightbox">

            <h6>Nutrition, Ingredients, Benefits</h6>

        </a>

        <div style="display: none;" id="{{ product.id }}_lightbox" class="bg-dark product-lightbox">

            <div class="row justify-content-center align-items-center">

                <div class="col-lg-6 background-white">

                    <img src="{{ mColour }}" alt="Nutrition Facts">

                </div>

                <div class="col-lg-6 text-center lightbox-content">

                    <p>{{ product.metafields.global.product_lightbox_text_html }}</p>

                </div>

            </div>

        </div>

    </div>
{% endunless %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-a36c7d59" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-2eef2a88">{%comment%}
https://drinkkiito.myshopify.com/admin/bulk?resource_name=Product&app_context=&edit=metafields.global.product_prepaid_info_text%3Astring&show=&return_to=%2Fadmin%2Fproducts&metafield_titles=&metafield_options=&query=&%3Avisible=&order=title+asc
{% endcomment %}
{% unless product.metafields.global.product_prepaid_info_text == blank %}

    <!-- product info lightbox -->
    <div class="tooltip-container mb-2">

	  <h6 class="tooltip">Info

		<span class="tooltiptext">{{ product.metafields.global.product_prepaid_info_text }}</span>

	  </h6>

    </div>
{% endunless %}

<style>
  .tooltip-container {
	display: flex;
	justify-content: flex-end;
  }
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  opacity: 1 !important;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 0;
  margin-left: -85px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
</style></div></div></div></div><div data-pf-type="ReCharge" class="sc-psrQp kkPGoW pf-e693d0ff selectors">{% include 'subscription-product' %}</div><div data-product-id="{{ product.id }}" data-display="dropdown" data-pf-type="ProductVariant" class="sc-pQfSI gluJHn pf-b4c2ff13" style="--pf-s-lg:16px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div><div class="sc-qPjXN eYzxUD pf-042ab4d0 pf-r pf-r-align--cm quantity-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-8ab8edc9 product-variants" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-display="radio" data-pf-type="ProductVariant" class="sc-pQfSI jGpWza pf-ff138ab8" style="--pf-s-lg:5px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--4 pf-c-md--4 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-8190042a form-group quantity col px-0" data-pf-type="Column"><div data-product-id="{{ product.id }}" size="40" data-pf-type="ProductQuantity" class="sc-pQQAz daLzjN pf-edc98190 product-quantity"><button data-quantity-action="decrease" data-quantity-disabled="true" type="button">-</button><input min="1" type="number" data-hidespinner="true" name="quantity" value="1"><button type="button" data-quantity-action="increase">+</button></div></div></div></div><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-d0ff0f6b"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-93d0ff0f">                <button data-productid="{{product.id}}" class="btn btn--to-secondary btn--full product__add-to-cart-button ajax_form_cart single_add_to_cart_button mt-1" type="submit" id="add" value="Add to Cart" aria-label="{{ 'products.product.add_to_cart' | t }}">
                    <span class="secondary-text" aria-hidden="true" data-cart-secondary-submit-text="">{{ 'products.product.add_to_cart' | t }}</span>
                </button></div></div></div></div></div>{% endform %}{% endif %}{% assign product = defaultProduct %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-59308443" data-pf-type="Column"><div data-product-id="4489604694114" data-default-variant="31903927926882" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-19593084 product">{% assign defaultProduct = product %}{% assign product = product_4489604694114 %} {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-921eedeb" %}<div class="sc-qPjXN eYzxUD pf-1e2d921e pf-r pf-r-eh pf-r-ew product-details-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-19195930 product-details-column" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-pzLIQ SfOJX pf-80325494 animate-shrink animate-shrink product-image">{% assign img_size = product.images.size %}<div class="sc-qZusK vHMOL">{% if img_size > 1 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="false" mode="view" class="sc-pQERe kZYFQD" style="--pf-d-lg:flex; --pf-d-md:flex; --pf-d-sm:flex; --pf-d-xs:flex;"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="450px" spacing="10px" class="sc-pHHLp blakCf">{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-psbuI efwYHr" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-44c141ba--mocha-product-background-image.jpg?v=1594301501 1200w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-44c141ba--mocha-product-background-image_800x932.jpg?v=1594301501&resized 800w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-44c141ba--mocha-product-background-image_400x466.jpg?v=1594301501&resized 400w" class="sc-qZtVr dLIPjF pf-5494657d background" data-pf-type="Image2"><div class="sc-qPjXN eYzxUD pf-1b120c40 pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--9 pf-c-sm--8 pf-c-md--8 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-6b933317 title" data-pf-type="Column"><h1 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-plgA-D dNfjzh pf-657d0c6e text-uppercase mb-1">{{ product.title }}</h1></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--4 pf-c-sm--4 pf-c-md--4 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-933317eb col" data-pf-type="Column"><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-6e5a581b text-uppercase mb-1">{{ product.variants[0].price | money }}</div></div></div></div><div class="sc-qPjXN eYzxUD pf-d1a6ed33 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--9 pf-c-md--9 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-8a2e15c3" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-3317eb75">{% unless product.metafields.global.product_lightbox_image_url == blank %}
{%- assign mColour = product.metafields.global.product_lightbox_image_url -%}

    <!-- product info lightbox -->
    <div class="link mb-2">

        <a class="product-link lightbox" data-fancybox="" data-src="#{{ product.id }}_lightbox">

            <h6>Nutrition, Ingredients, Benefits</h6>

        </a>

        <div style="display: none;" id="{{ product.id }}_lightbox" class="bg-dark product-lightbox">

            <div class="row justify-content-center align-items-center">

                <div class="col-lg-6 background-white">

                    <img src="{{ mColour }}" alt="Nutrition Facts">

                </div>

                <div class="col-lg-6 text-center lightbox-content">

                    <p>{{ product.metafields.global.product_lightbox_text_html }}</p>

                </div>

            </div>

        </div>

    </div>
{% endunless %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-15c3d1a6" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-a0fa01f5">{%comment%}
https://drinkkiito.myshopify.com/admin/bulk?resource_name=Product&app_context=&edit=metafields.global.product_prepaid_info_text%3Astring&show=&return_to=%2Fadmin%2Fproducts&metafield_titles=&metafield_options=&query=&%3Avisible=&order=title+asc
{% endcomment %}
{% unless product.metafields.global.product_prepaid_info_text == blank %}

    <!-- product info lightbox -->
    <div class="tooltip-container mb-2">

	  <h6 class="tooltip">Info

		<span class="tooltiptext">{{ product.metafields.global.product_prepaid_info_text }}</span>

	  </h6>

    </div>
{% endunless %}

<style>
  .tooltip-container {
	display: flex;
	justify-content: flex-end;
  }
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  opacity: 1 !important;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 0;
  margin-left: -85px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
</style></div></div></div></div><div data-pf-type="ReCharge" class="sc-psrQp kkPGoW pf-17eb7519 selectors">{% include 'subscription-product' %}</div><div data-product-id="{{ product.id }}" data-display="dropdown" data-pf-type="ProductVariant" class="sc-pQfSI gluJHn pf-94c5d889" style="--pf-s-lg:16px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div><div class="sc-qPjXN eYzxUD pf-28ce102e pf-r pf-r-align--cm quantity-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--8 pf-c-md--8 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-72c340b8 product-variants" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-display="radio" data-pf-type="ProductVariant" class="sc-pQfSI jGpWza pf-d88972c3" style="--pf-s-lg:5px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--4 pf-c-md--4 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-926428ce form-group quantity col px-0" data-pf-type="Column"><div data-product-id="{{ product.id }}" size="50" data-pf-type="ProductQuantity" class="sc-pQQAz euKLeR pf-40b89264 product-quantity"><button data-quantity-action="decrease" data-quantity-disabled="true" type="button">-</button><input min="1" type="number" data-hidespinner="true" name="quantity" value="1"><button type="button" data-quantity-action="increase">+</button></div></div></div></div><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-75191959"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-eb751919">                <button data-productid="{{product.id}}" class="btn btn--to-secondary btn--full product__add-to-cart-button ajax_form_cart single_add_to_cart_button mt-1" type="submit" id="add" value="Add to Cart" aria-label="{{ 'products.product.add_to_cart' | t }}">
                    <span class="secondary-text" aria-hidden="true" data-cart-secondary-submit-text="">{{ 'products.product.add_to_cart' | t }}</span>
                </button></div></div></div></div></div>{% endform %}{% endif %}{% assign product = defaultProduct %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-87ed4f0e" data-pf-type="Column"><div data-product-id="4489603678306" data-default-variant="31903921242210" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-0387ed4f product">{% assign defaultProduct = product %}{% assign product = product_4489603678306 %} {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-0a0436d0" %}<div class="sc-qPjXN eYzxUD pf-421e0a04 pf-r pf-r-eh pf-r-ew product-details-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-c50387ed product-details-column id-{{ product.id }}" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-pzLIQ SfOJX pf-edeb9a5e animate-shrink animate-shrink product-image">{% assign img_size = product.images.size %}<div class="sc-qZusK vHMOL">{% if img_size > 1 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="false" mode="view" class="sc-pQERe kZYFQD" style="--pf-d-lg:flex; --pf-d-md:flex; --pf-d-sm:flex; --pf-d-xs:flex;"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="450px" spacing="10px" class="sc-pHHLp blakCf">{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-psbuI efwYHr" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-e70c5985--chocolate-vanillaoptimized.png?v=1592341011 1200w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-e70c5985--chocolate-vanillaoptimized.png?v=1592341011 800w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-e70c5985--chocolate-vanillaoptimized_400x466.png?v=1592341011&resized 400w" class="sc-qZtVr dLIPjF pf-9a5ed363 background" data-pf-type="Image2"><div class="sc-qPjXN eYzxUD pf-a2f45cb4 pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--8 pf-c-md--8 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-3084434d title" data-pf-type="Column"><h1 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-plgA-D dNfjzh pf-d363311d text-uppercase mb-1">{{ product.title }}</h1></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--4 pf-c-sm--4 pf-c-md--4 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-84434d9f col" data-pf-type="Column"><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-1d6cfca2 text-uppercase mb-1">{{ product.variants[0].price | money }}</div></div></div></div><div class="sc-qPjXN eYzxUD pf-ee3b5800 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--9 pf-c-md--9 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-a0aee885" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-434d9f68">{% unless product.metafields.global.product_lightbox_image_url == blank %}
{%- assign mColour = product.metafields.global.product_lightbox_image_url -%}

    <!-- product info lightbox -->
    <div class="link mb-2">

        <a class="product-link lightbox" data-fancybox="" data-src="#{{ product.id }}_lightbox">

            <h6>Nutrition, Ingredients, Benefits</h6>

        </a>

        <div style="display: none;" id="{{ product.id }}_lightbox" class="bg-dark product-lightbox">

            <div class="row justify-content-center align-items-center">

                <div class="col-lg-6 background-white">

                    <img src="{{ mColour }}" alt="Nutrition Facts">

                </div>

                <div class="col-lg-6 text-center lightbox-content">

                    <p>{{ product.metafields.global.product_lightbox_text_html }}</p>

                </div>

            </div>

        </div>

    </div>
{% endunless %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-e885ee3b" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-ed331f42">{%comment%}
https://drinkkiito.myshopify.com/admin/bulk?resource_name=Product&app_context=&edit=metafields.global.product_prepaid_info_text%3Astring&show=&return_to=%2Fadmin%2Fproducts&metafield_titles=&metafield_options=&query=&%3Avisible=&order=title+asc
{% endcomment %}
{% unless product.metafields.global.product_prepaid_info_text == blank %}

    <!-- product info lightbox -->
    <div class="tooltip-container mb-2">

	  <h6 class="tooltip">Info

		<span class="tooltiptext">{{ product.metafields.global.product_prepaid_info_text }}</span>

	  </h6>

    </div>
{% endunless %}

<style>
  .tooltip-container {
	display: flex;
	justify-content: flex-end;
  }
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  opacity: 1 !important;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 0;
  margin-left: -85px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
</style></div></div></div></div><div data-pf-type="ReCharge" class="sc-psrQp kkPGoW pf-4d9f68c5 selectors">{% include 'subscription-product' %}</div><div data-product-id="{{ product.id }}" data-display="dropdown" data-pf-type="ProductVariant" class="sc-pQfSI gluJHn pf-efd3dd32" style="--pf-s-lg:16px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div><div class="sc-qPjXN eYzxUD pf-f205e990 pf-r pf-r-align--cm quantity-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-1ef68d16 product-variants" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-display="radio" data-pf-type="ProductVariant" class="sc-pQfSI jGpWza pf-dd321ef6" style="--pf-s-lg:5px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--4 pf-c-md--4 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-86e3f205 form-group quantity col px-0" data-pf-type="Column"><div data-product-id="{{ product.id }}" size="40" data-pf-type="ProductQuantity" class="sc-pQQAz daLzjN pf-8d1686e3 product-quantity"><button data-quantity-action="decrease" data-quantity-disabled="true" type="button">-</button><input min="1" type="number" data-hidespinner="true" name="quantity" value="1"><button type="button" data-quantity-action="increase">+</button></div></div></div></div><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-68c50387"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-9f68c503">                <button data-productid="{{product.id}}" class="btn btn--to-secondary btn--full product__add-to-cart-button ajax_form_cart single_add_to_cart_button mt-1" type="submit" id="add" value="Add to Cart" aria-label="{{ 'products.product.add_to_cart' | t }}">
                    <span class="secondary-text" aria-hidden="true" data-cart-secondary-submit-text="">{{ 'products.product.add_to_cart' | t }}</span>
                </button></div></div></div></div></div>{% endform %}{% endif %}{% assign product = defaultProduct %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-425675d2" data-pf-type="Column"><div data-product-id="4461337542754" data-default-variant="31875666870370" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-94425675 product mixed-12-pack pf-lg--hidden pf-md--hidden pf-sm--hidden pf-xs--hidden">{% assign defaultProduct = product %}{% assign product = product_4461337542754 %} {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-ec10d97d" %}<div class="sc-qPjXN eYzxUD pf-e0d9ec10 pf-r pf-r-eh pf-r-ew product-details-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-a8944256 product-details-column id-{{ product.id }}" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-pzLIQ SfOJX pf-36d0118a animate-shrink animate-shrink product-image">{% assign img_size = product.images.size %}<div class="sc-qZusK vHMOL">{% if img_size > 1 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="false" mode="view" class="sc-pQERe kZYFQD" style="--pf-d-lg:flex; --pf-d-md:flex; --pf-d-sm:flex; --pf-d-xs:flex;"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="450px" spacing="10px" class="sc-pHHLp gnnRUF">{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-psbuI efwYHr" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-6aae4374--annie-spratt-kiito-mixed-pack.jpg?v=1594751702 1200w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-6aae4374--annie-spratt-kiito-mixed-pack_800x1129.jpg?v=1594751702&resized 800w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-6aae4374--annie-spratt-kiito-mixed-pack_400x565.jpg?v=1594751702&resized 400w" class="sc-qZtVr dLIPjF pf-118a59f0 background" data-pf-type="Image2"><div class="sc-qPjXN eYzxUD pf-d6eb51ba pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-ed4f0e6a title" data-pf-type="Column"><h1 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-plgA-D dNfjzh pf-59f09da4 text-uppercase mb-1">{{ product.title }}</h1></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--4 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-4f0e6a93 col" data-pf-type="Column"><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-a44125d6 text-uppercase mb-1">{{ product.variants[0].price | money }}</div></div></div></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-0e6a9304">{% unless product.metafields.global.product_lightbox_image_url == blank %}
{%- assign mColour = product.metafields.global.product_lightbox_image_url -%}

    <!-- product info lightbox -->
    <div class="link mb-2">

        <a class="product-link lightbox" data-fancybox="" data-src="#{{ product.id }}_lightbox">

            <h6>Nutrition, Ingredients, Benefits</h6>

        </a>

        <div style="display: none;" id="{{ product.id }}_lightbox" class="bg-dark product-lightbox">

            <div class="row justify-content-center align-items-center">

                <div class="col-lg-6 background-white">

                    <img src="{{ mColour }}" alt="Nutrition Facts">

                </div>

                <div class="col-lg-6 text-center lightbox-content">

                    <p>{{ product.metafields.global.product_lightbox_text_html }}</p>

                </div>

            </div>

        </div>

    </div>
{% endunless %}</div><div data-pf-type="ReCharge" class="sc-psrQp kkPGoW pf-6a9304a8 selectors">{% include 'subscription-product' %}</div><div data-product-id="{{ product.id }}" data-display="dropdown" data-pf-type="ProductVariant" class="sc-pQfSI gluJHn pf-f3a27717" style="--pf-s-lg:16px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div><div class="sc-qPjXN eYzxUD pf-ebbc2af6 pf-r pf-r-align--cm quantity-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--4 pf-c-md--4 pf-c-lg--11"><div class="sc-pkUyL fTyjzF pf-38b1ebbc form-group quantity col px-0" data-pf-type="Column"><div data-product-id="{{ product.id }}" size="40" data-pf-type="ProductQuantity" class="sc-pQQAz daLzjN pf-771738b1 product-quantity mixed-12-pack"><button data-quantity-action="decrease" data-quantity-disabled="true" type="button">-</button><input min="1" type="number" data-hidespinner="true" name="quantity" value="1"><button type="button" data-quantity-action="increase">+</button></div></div></div></div><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-04a89442"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-9304a894">                <button data-productid="{{product.id}}" class="btn btn--to-secondary btn--full product__add-to-cart-button ajax_form_cart single_add_to_cart_button mt-1" type="submit" id="add" value="Add to Cart" aria-label="{{ 'products.product.add_to_cart' | t }}">
                    <span class="secondary-text" aria-hidden="true" data-cart-secondary-submit-text="">{{ 'products.product.add_to_cart' | t }}</span>
                </button></div></div></div></div></div>{% endform %}{% endif %}{% assign product = defaultProduct %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-a444405f" data-pf-type="Column"><div data-product-id="4461353795682" data-default-variant="31800773738594" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-c1a44440 product pf-lg--hidden pf-md--hidden pf-sm--hidden pf-xs--hidden">{% assign defaultProduct = product %}{% assign product = product_4461353795682 %} {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-aecbdfa6" %}<div class="sc-qPjXN eYzxUD pf-7cd4aecb pf-r pf-r-eh pf-r-ew product-details-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-f8c1a444 product-details-column" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-pzLIQ SfOJX pf-2384d980 animate-shrink animate-shrink product-image">{% assign img_size = product.images.size %}<div class="sc-qZusK vHMOL">{% if img_size > 1 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="false" mode="view" class="sc-pQERe kZYFQD" style="--pf-d-lg:flex; --pf-d-md:flex; --pf-d-sm:flex; --pf-d-xs:flex;"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="450px" spacing="10px" class="sc-pHHLp gnnRUF">{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-psbuI efwYHr" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-6c8c1ebc--trialoptimized.png?v=1592340956 1200w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-6c8c1ebc--trialoptimized.png?v=1592340956 800w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-6c8c1ebc--trialoptimized_400x466.png?v=1592340956&resized 400w" class="sc-qZtVr dLIPjF pf-d980b72f background" data-pf-type="Image2"><div class="sc-qPjXN eYzxUD pf-78d57690 pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-5675d233 title" data-pf-type="Column"><h1 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-plgA-D dNfjzh pf-b72fe55d text-uppercase mb-1">{{ product.title }}</h1></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--9 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-75d23395 col" data-pf-type="Column"><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-5dfee578 text-uppercase mb-1">{{ product.variants[0].price | money }}</div></div></div></div><div data-pf-type="ReCharge" class="sc-psrQp kkPGoW pf-d23395f8 selectors pf-lg--hidden pf-md--hidden pf-sm--hidden pf-xs--hidden">{% include 'subscription-product' %}</div><div data-product-id="{{ product.id }}" data-display="dropdown" data-pf-type="ProductVariant" class="sc-pQfSI gluJHn pf-90c61818" style="--pf-s-lg:16px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div><div class="sc-qPjXN eYzxUD pf-122c54ea pf-r pf-r-align--cm quantity-row pf-lg--hidden pf-md--hidden pf-sm--hidden pf-xs--hidden" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-95bd0d60 product-variants" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-display="radio" data-pf-type="ProductVariant" class="sc-pQfSI jGpWza pf-181895bd pf-lg--hidden pf-md--hidden pf-sm--hidden pf-xs--hidden" style="--pf-s-lg:5px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--4 pf-c-md--4 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-6784122c form-group quantity col px-0" data-pf-type="Column"><div data-product-id="{{ product.id }}" size="40" data-pf-type="ProductQuantity" class="sc-pQQAz daLzjN pf-0d606784 product-quantity"><button data-quantity-action="decrease" data-quantity-disabled="true" type="button">-</button><input min="1" type="number" data-hidespinner="true" name="quantity" value="1"><button type="button" data-quantity-action="increase">+</button></div></div></div></div><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-95f8c1a4"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-3395f8c1">                <button data-productid="{{product.id}}" class="btn btn--to-secondary btn--full product__add-to-cart-button ajax_form_cart single_add_to_cart_button mt-1" type="submit" id="add" value="Add to Cart" aria-label="{{ 'products.product.add_to_cart' | t }}">
                    <span class="secondary-text" aria-hidden="true" data-cart-secondary-submit-text="">{{ 'products.product.add_to_cart' | t }}</span>
                </button></div></div></div></div></div>{% endform %}{% endif %}{% assign product = defaultProduct %}</div></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.13.6","shopDomain":"drinkkiito.myshopify.com","elementData":{"pf-9be53377 animate-shrink":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"},"pf-227337a1 animate-shrink":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"},"pf-e3245b77 animate-shrink":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"},"pf-80325494 animate-shrink":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"},"pf-edeb9a5e animate-shrink":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"},"pf-36d0118a animate-shrink":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"},"pf-2384d980 animate-shrink":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"}},"pageTitle":"Prepaid Collection Page","pageType":"collection","pageId":"d44faef7-413a-46d1-ab9b-e53377b91098","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[]};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.13.6/core/helper.js?t=20200827160825" defer></script><script><!-- Add this script to your header -->
var is_chrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;
if(is_chrome){
  document.write('{{- 'chrome.css' | asset_url | stylesheet_tag -}}');
}
</script>