<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400|Chalet+Comprime+Cologne+Sixty,+sans-serif:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.9.1/css/main-style.css?t=20200406130445"><link rel="stylesheet" href="{{ 'pagefly.577d3a23.scss.css' | asset_url }}">
		  <script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	window.__pageflyProducts["{{product.id}}"] = {{product | json }};
	</script>{% if collection_156646703202 == null %}{%- assign collection_156646703202 = collections['limelight-products'] -%}{% endif %} {% if collection_156938076258 == null %}{%- assign collection_156938076258 = collections['limelight-wholesale'] -%}{% endif %}<script>
	window.__pageflyCollections = window.__pageflyCollections || {};
	window.__pageflyCollections["156646703202"] = {{collection_156646703202 | json }};window.__pageflyCollections["156938076258"] = {{collection_156938076258 | json }};
	</script><div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-6bb00d3b"><div data-pf-type="Layout" class="pf-ea9332b6"><div data-container="true" class="sc-pZopv bjKdkd pf-64b52583" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-cd0a7188 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-f10f31c9" data-pf-type="Column"><div class="sc-pZlBu cXYPNp pf-8b985f75 pf-r-dg pf-r-dg-lg--3 pf-r-dg-md--4 pf-r-dg-sm--2 pf-r-dg-xs--2" data-pf-type="ProductList" style="--pf-s-lg:40px; --pf-s-md:40px; --pf-s-sm:40px; --pf-s-xs:40px;">{% assign collection_156646703202 = collections['limelight-products'] %}{% assign defaultProduct = product %}{% paginate collection_156646703202.products by 20 %}{% for product in collection_156646703202.products %}<div><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-oTOtL gYNRye pf-5813c754"> {% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-42e0e07a" %}<div class="sc-qPjXN eYzxUD pf-133b33d8 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--undefined pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-4c136635" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-qQZrP gBrOGl pf-c1ae089d">{% assign img_size = product.images.size %}<div class="sc-psbuI erPCE">{% if img_size > 1 %}<div class="sc-pjGtN ioSCNC pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="200px" spacing="10px" data-pf-type="MasterImage" data-magnifier="false" mode="view" class="sc-pzLIQ uQixF" style="height: auto;"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-pjGtN ioSCNC pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="200px" spacing="10px" class="sc-qZusK exlgkr">{% if img_size > 5 %}<div class="sc-pjGtN ioSCNC pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-pcjuG uJAsR" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-pjGtN ioSCNC pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="/products/{{ product.handle }}" data-pf-type="ProductText" class="sc-psQTH ITnEo pf-d6816b6b">{{ product.title }}</h3><div data-show-button="true" data-more="" data-less="" data-product-type="content" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-oUbIU kkgvSC pf-7cdc2ef1">{{ product.content }}</div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-c9024a96">{% if block.settings.link != blank %}

        <!-- product info lightbox -->
        <div class="link mb-2" data-transition="entrance" style="transform : translateY( 50px )">

            <div class="text-center">

                <a class="product-link" href="{{ block.settings.lightbox | img_url : 'master' }}" data-fancybox="" data-src="#{{ block.settings.productid }}_lightbox">

                    <h6>

                        {{ block.settings.link }}

                    </h6>

                </a>

            </div>

            <div style="display: none;" id="{{ block.settings.productid }}_lightbox" class="bg-dark product-lightbox">

                <div class="row justify-content-center align-items-center">

                    <div class="col-lg-6">

                        <img src="{{ block.settings.lightbox | img_url: '600x' }}" alt="{{ block.settings.image.alt }}" class="bg-white">

                    </div>

                    <div class="col-lg-6 text-center lightbox-content">

                        <p>{{ block.settings.lightboxContent }}</p>

                    </div>

                </div>

            </div>

        </div>

        {% endif %}</div><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-oUbIU kkgvSC pf-121dad3a">{{ product.price | money }}</div><div class="sc-qPjXN eYzxUD pf-250a5959 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-9f3cc474" data-pf-type="Column"><div data-product-id="{{ product.id }}" size="32" data-pf-type="ProductQuantity" class="sc-pHHLp dKRYlq pf-3915b3ac"><input min="1" type="number" data-hidespinner="false" name="quantity" value="1"></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-1d2046ea" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-display="dropdown" data-pf-type="ProductVariant" class="sc-pIvzE frLWJa pf-f1ed221f" style="--pf-s-lg:10px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><div class="pf-p-variant"></div><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}}" type="hidden" value="{{ product.variants.first.id }}"></div></div></div></div><button data-product-id="{{ product.id }}" data-checkout="same" class="sc-pZNLs hxYrIR pf-38f8f49d btn btn--to-secondary btn--full product__add-to-cart-button ajax_form_cart single_add_to_cart_button mt-1" data-soldout="Sold out" data-adding="Adding..." data-added="Added to cart!" type="submit" id="add" data-pf-type="ProductATC" value="Add to Cart" aria-label="{{ 'products.product.add_to_cart' | t }}"><span>Add To Cart</span></button><div data-pf-type="Yotpo" class="pf-1c26bae6"><div class="yotpo bottomLine" data-appkey="" data-domain="{{shop.permanent_domain | escape }}" data-product-id="{{ product.id }}" data-product-models="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: 'large' | replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}" data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}"></div></div></div></div></div>{% endform %}</div><script>
									window.__pageflyProducts = window.__pageflyProducts || {};
									window.__pageflyProducts["{{product.id}}"] = {{product | json}};
								</script></div>{% endfor %}{% endpaginate %}{% assign product = defaultProduct %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-a5bbbf9f" data-pf-type="Column"></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.9.1","shopDomain":"drinkkiito.myshopify.com","elementData":{"pf-c1ae089d":{"listPosition":"bottom","limit":5,"height":"200px","spacing":"10px","listLayout":"slider","_type":"ProductImage"}},"pageTitle":"Collection - Limelight","pageType":"page","pageId":"577d3a23-d055-437d-9cca-23ffc5623eba","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[]};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.9.1/core/helper.js?t=20200406130445" defer></script>