<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400,700&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.8.8/css/main-style.css?t=2020-03-20-07"><link rel="stylesheet" href="{{ 'pagefly.cb0d22eb.scss.css' | asset_url }}">
		  {% if product_1914810957922 == null %}{%- assign product_1914810957922 = all_products['vanilla-ashwagandha'] -%}{% endif %} {% if product_1914813644898 == null %}{%- assign product_1914813644898 = all_products['chocolate-maca'] -%}{% endif %} {% if product_3954544115810 == null %}{%- assign product_3954544115810 = all_products['mixed-6-pack'] -%}{% endif %} {% if product_1916748759138 == null %}{%- assign product_1916748759138 = all_products['mixed-case'] -%}{% endif %} {% if product_1914817544290 == null %}{%- assign product_1914817544290 = all_products['matcha-moringa'] -%}{% endif %}<script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	window.__pageflyProducts["1914810957922"] = {{product_1914810957922 | json }};window.__pageflyProducts["{{product.id}}"] = {{product | json }};window.__pageflyProducts["1914813644898"] = {{product_1914813644898 | json }};window.__pageflyProducts["3954544115810"] = {{product_3954544115810 | json }};window.__pageflyProducts["1916748759138"] = {{product_1916748759138 | json }};window.__pageflyProducts["1914817544290"] = {{product_1914817544290 | json }};
	</script><div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-kxynE QJnSk pf-5c4fb9ae"><div data-pf-type="Layout" class="pf-2694ef56"><div data-pf-type="ProductPreview" class="sc-lcpuFF iiMnFG pf-9bfa82e0">{% capture captured_page %}
<!-- /templates/product.liquid -->
{% comment %}

  Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
  and allow search engines to easily understand what the content is.

  For more information on these Scheme.org tags, visit:
    - http://schema.org/docs/gs.html

{% endcomment %}

<div itemscope itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  <div class="{{ block.settings.columns }} px-lg-3 px-2 py-5 my-lg-5 shop-products" id="{{ block.settings.productid }}">

      <div class="d-flex flex-column justify-content-between pb-5">

          <!-- header -->
          <div class="header">

              <!-- product image -->
              <div class="image" data-transition="entrance" style="transform : translateY( 50px )">

                  <div class="pb-lg-3 mb-2 mb-lg-3">

                      <div class="embed-responsive product-img embed-responsive-17by20">

                          <div class="embed-responsive-item">

                              <img class="lazyload w-100" data-src="{{ product.images.first.src | img_url : 'master' }}" alt="{{ product.images.first.alt }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-expand="-50">

                          </div>

                      </div>

                  </div>

              </div>

              <!-- product title -->
              {% if product.title != blank %}

                  <div class="title" data-transition="entrance" style="transform : translateY( 50px )">

                      <div class="text-center">

                          <h1 class="text-uppercase mb-1">

                              {{ product.title }}

                          </h1>

                      </div>

                  </div>

              {% endif %}

              {% if product.description != blank %}

              <div class="description" data-transition="entrance" style="transform : translateY( 50px )">

                  <div class="text-center py-2">

                      {{ product.description }}

                  </div>

              </div>

              {% endif %}

          </div> <!-- end header -->


          <!-- product info lightbox -->
        {% if block.settings.link != blank %}

          <div class="link mb-2" data-transition="entrance" style="transform : translateY( 50px )">

              <div class="text-center">

                  <a class="product-link" href="{{ block.settings.lightbox | img_url : 'master' }}" data-fancybox>

                      <h6>

                          {{ block.settings.link }}

                      </h6>

                  </a>

              </div>

          </div>

        {% endif %}


          <!-- price info -->
          <div class="price-info pb-1" data-transition="entrance" style="transform : translateY( 50px )">

              <div class="prices">

                  <p class="pricing">

                    {% if block.settings.pricecut != blank %}

                      <span class="price-cut">

                          {{ block.settings.pricecut }}

                      </span>

                    {% endif %}

                    {% if block.settings.priceinfo != blank %}

                      <span>

                          {{ block.settings.priceinfo }}

                      </span>

                    {% endif %}

                  </p>

                  {% if block.settings.priceinfosubtext != blank %}

                      <p class="price-info-subtext">

                          {{ block.settings.priceinfosubtext }}

                      </p>

                  {% endif %}

              </div>

          </div>


          <!-- footer -->
          <div class="footer">

              <div class="button" data-transition="entrance" style="transform : translateY( 50px )">

                  <div class="mb-2">

                      <form action="/cart/add" data-productid="{{product.id}}" method="post" enctype="multipart/form-data">

                          <div class="form-group">

                              <!-- ReCharge Select -->

                              <style>#quantity { padding:5px; width:35px; border: 1px solid #555; } .hide { display:none; }</style>

                              <select name="id" data-productid="{{ product.id }}" class="hide">

                                  {% for variant in product.variants %}

                                      {% if variant.available == true %}

                                          <option value="{{variant.id}}"> {{ variant.title }} for {{ variant.price | money_with_currency }}</option>

                                      {% else %}

                                          <option disabled="disabled"> {{ variant.title }} - sold out!</option>

                                      {% endif %}

                                  {% endfor %}

                              </select>

                              <!-- ReCharge subscription product -->
                              {% if product.available %}

                                  {% include 'subscription-product' %}

                              {% endif %}

                              <!-- add to cart button -->

                              <button data-productid="{{product.id}}" class="btn btn--to-secondary btn--full product__add-to-cart-button ajax_form_cart single_add_to_cart_button"
                                type="submit"
                                id="add"
                                value="Add to Cart"
                                aria-label="{{ 'products.product.add_to_cart' | t }}"
                              >
                                <span class="secondary-text" aria-hidden=true data-cart-secondary-submit-text>{{ 'products.product.add_to_cart' | t }}</span>
                              </button>


                      </div> <!-- END form-group -->

                  </form>

                  {% comment %}
                  ***********************
                  Want the lightbox back? . . .
                  ***********************
                  - to each .review class (for the respective product), replace this attribute 'href="/pages/reviews"' with these attributes :
                  -- data-fancybox data-src="#nilla"
                  -- data-fancybox data-src="#chocolate"
                  -- data-fancybox data-src="#matcha"
                  -- data-fancybox data-src="#mixed"

                  next . . .
                  - add these attributes to each product "span":
                  - class="stamped-product-reviews-badge" data-product-sku="{{ product.handle }}" data-id="{{ product.id }}"

                  lastly. . .
                  - remove the comments surrounding the "- lightbox -"

                  done!
                  {% endcomment %}

                  <style>
                  .stamped-badge-caption {
                    display: none;
                  }
                  </style>

                  <!-- VANILLA -->
                  {% if product.tags contains "Vanilla" %}
                      <a href="/pages/reviews" class="text-center review">
                          <span style="display:block;">{{ product.metafields.stamped.badge }}</span>

                      </a>
                      {% comment %} - lightbox -
                      <div style="display: none;" id="nilla" class="review">
                          <h1 class="text-uppercase text-center">Vanilla Ashwagandha Reviews</h1>
                          <div id="stamped-main-widget"
                          data-widget-style="standard"
                          data-product-id="{{ product.id }}"
                          data-url="{{ shop.url }}{{ product.url }}"
                          data-product-sku="{{product.handle}}" >
                          {{ product.metafields.stamped.reviews }}
                          </div>
                      </div>
                      {% endcomment %}
                  {% endif %}

                  <!-- chocolate -->
                  {% if product.tags contains "chocolate" %}
                      <a href="/pages/reviews" class="text-center review" href="javascript:;">
                          <span style="display:block;">{{ product.metafields.stamped.badge }}</span>
                      </a>
                      {% comment %} - lightbox -
                      <div style="display: none;" id="chocolate" class="review">
                          <h1 class="text-uppercase text-center">Chocolate Maca Reviews</h1>
                          <div id="stamped-main-widget"
                          data-widget-style="standard"
                          data-product-id="{{ product.id }}"
                          data-url="{{ shop.url }}{{ product.url }}"
                          data-product-sku="{{product.handle}}">
                          {{ product.metafields.stamped.reviews }}
                          </div>
                      </div>
                      {% endcomment %}
                  {% endif %}

                  <!-- MATCHA -->
                  {% if product.tags contains "matcha" %}
                      <a href="/pages/reviews" class="text-center review" href="javascript:;">
                          <span style="display:block;">{{ product.metafields.stamped.badge }}</span>
                      </a>
                      {% comment %} - lightbox -
                      <div style="display: none;" id="matcha" class="review">
                          <h1 class="text-uppercase text-center">Matcha Moringa Reviews</h1>
                          <div id="stamped-main-widget"
                          data-widget-style="standard"
                          data-product-id="{{ product.id }}"
                          data-url="{{ shop.url }}{{ product.url }}"
                          data-product-sku="{{product.handle}}">
                          {{ product.metafields.stamped.reviews }}
                          </div>
                      </div>
                      {% endcomment %}
                  {% endif %}

                  <!-- mixed -->
                  {% if product.tags contains "mixed" %}
                      <a href="/pages/reviews" class="text-center review" href="javascript:;">
                          <span style="display:block;">{{ product.metafields.stamped.badge }}</span>
                      </a>
                      {% comment %} - lightbox -
                      <div style="display: none;" id="mixed" class="review">
                          <h1 class="text-uppercase text-center">Mixed Case Reviews</h1>
                          <div id="stamped-main-widget"
                          data-widget-style="standard"
                          data-product-id="{{ product.id }}"
                          data-url="{{ shop.url }}{{ product.url }}"
                          data-product-sku="{{product.handle}}">
                          {{ product.metafields.stamped.reviews }}
                          </div>
                      </div>
                      {% endcomment %}
                  {% endif %}



              </div> <!-- end mb-2 -->

          </div> <!-- end button -->

      </div> <!-- end footer -->

    </div>

  </div>

</div>

{% comment %}
  To take advantage of a callback on the select dropdown, add option_selection.js
  and customize the JS in timber.productPage as needed.

  Currently, timber.productPage does the following:
    - Hides your <select> tag from above
    - Breaks out the product variants into separate product options, if more than one exists
    - Generates a <select> tag for each product option
    - Enables/disables elements based on variant availability

  Callback notes:
    - Keep the callback available to the global scope (window.selectCallback) so that advanced
      addons can override it.
      * E.g. multiple currencies http://docs.shopify.com/manual/configuration/store-customization/currencies-and-translations/currencies/how-to-toggle-between-two-currencies
{% endcomment %}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });
</script>

<!-- DRIP_PRODUCT_TRACKING_V1 -->
<script text="text/javascript">
  var _dcq = _dcq || [];
  _dcq.push(['recordProductView', {{ product|json }}, {{ product.collections|map:'id'|json }}, '{{shop.currency}}', '{{ product.url }}']);
</script>
<!-- END_DRIP_PRODUCT_TRACKING_V1 -->

{% endcapture %}
{% include 'password-protect' %}</div><div data-container="true" class="sc-fnwBNb irilUZ pf-84e02938" data-pf-type="Section"><div class="sc-cugefK iKePrP" style="max-width: 1170px;"><div class="sc-sdtwF iIwwEJ pf-84a1f510 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-drKuOJ bejofX pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-gRnDUn fJTCAC pf-ac142082" data-pf-type="Column"><div data-product-id="1914810957922" data-pf-type="ProductBox" class="sc-crNyjn jsYGEv pf-0b738b0c">{% assign defaultProduct = product %}{% assign product = product_1914810957922 %}<div class="sc-sdtwF iIwwEJ pf-cac103f7 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-drKuOJ bejofX pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-gRnDUn fJTCAC pf-fd9122c1" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-bhlBdH bzjhPd pf-5eff30cb">{% assign img_size = product.images.size %}<div class="sc-eitiEO hLGuQN">{% if img_size > 1 %}<div class="sc-nrwXf iEeNKD pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="false" mode="view" class="sc-keFjpB jTqelV" style="height: auto;"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-nrwXf iEeNKD pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="450px" spacing="10px" class="sc-AnqlK kovKGo">{% if img_size > 5 %}<div class="sc-nrwXf iEeNKD pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-cpHetk didcdr" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-nrwXf iEeNKD pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div></div></div><div class="sc-drKuOJ bejofX pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-gRnDUn fJTCAC pf-398f6637" data-pf-type="Column"><h3 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-hycgNl dilOGW pf-f666ee4d">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-iBmynh fgPtko pf-3b0c75e9">{{ product.price | money }}</div><div data-show-button="true" data-more="" data-less="" data-product-type="content" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-iBmynh fgPtko pf-ae09f7c6">{{ product.content }}</div><p class="sc-dREXXX gMKZx pf-1a5760a9" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-1eec544a">Known to Support:<br>•&nbsp; Anti-inflammatory<br>•&nbsp; Brain Function<br>•&nbsp; Antioxidants<br>•&nbsp; Strength<br>•&nbsp; Stress Relief<br>•&nbsp; Hormonal Balance</span></p><div data-pf-type="Block" class="sc-dyGzUR igZhSP pf-c9ed4de1"><a href="https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-7d0b1bc5-aa25-410b-b2da-c80ef0060e32--nutritionvanilla.png" target="_self" data-pf-type="Button" class="sc-cooIXK fABBSI pf-52df68d2" data-fancybox=""><i class="sc-kasBVs gpALgc pf-9b773a3a fa fa-list" data-pf-type="Icon"></i><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-9048cfd6">Nutrition Facts</span></a></div><div data-product-id="{{ product.id }}" data-display="dropdown" data-pf-type="ProductVariant" class="sc-cCbXAZ ehjCbm pf-a9c0a393" style="--pf-s-lg:16px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><div class="pf-p-variant"></div></div><div data-pf-type="Block" class="sc-dyGzUR igZhSP pf-868788e6"><div data-product-id="{{ product.id }}" size="40" data-pf-type="ProductQuantity" class="sc-jWojfa kDvBhz pf-11104a8e"><button data-quantity-action="decrease" data-quantity-disabled="true">-</button><input min="1" type="number" data-hidespinner="true" value="1"><button data-quantity-action="increase">+</button></div><button data-product-id="{{ product.id }}" data-checkout="cart" class="sc-jkCMRl hOFaaf pf-a6140c76" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" data-pf-type="ProductATC"><span>Add to Cart</span></button></div></div></div></div>{% assign product = defaultProduct %}</div></div></div></div></div></div><div data-container="true" class="sc-fnwBNb irilUZ pf-4e55bfa2" data-pf-type="Section"><div class="sc-cugefK iKePrP" style="max-width: 1170px;"><div class="sc-sdtwF iIwwEJ pf-65c1d565 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-drKuOJ bejofX pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-gRnDUn fJTCAC pf-7a03584b" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-iBEsjs lphJbu pf-6b3d9ed4"><div id="stamped-main-widget" data-widget-style="standard"></div></div></div></div></div></div></div><div data-container="false" class="sc-fnwBNb irilUZ pf-84e5e25b" data-pf-type="Section"><div class="sc-cugefK iKePrP"><div class="sc-sdtwF iIwwEJ pf-524aadfa pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-drKuOJ bejofX pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-gRnDUn fJTCAC pf-bd479b71" data-pf-type="Column"><div data-product-id="1914813644898" data-pf-type="ProductBox" class="sc-crNyjn jsYGEv pf-aa17021f">{% assign defaultProduct = product %}{% assign product = product_1914813644898 %}<div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-bhlBdH bzjhPd pf-d6e1949d">{% assign img_size = product.images.size %}<div class="sc-eitiEO hLGuQN">{% if img_size > 1 %}<div class="sc-nrwXf iEeNKD pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="false" mode="view" class="sc-keFjpB iQOqUN"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-nrwXf iEeNKD pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="450px" spacing="10px" class="sc-AnqlK dmbQZE">{% if img_size > 5 %}<div class="sc-nrwXf iEeNKD pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-cpHetk didcdr" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-nrwXf iEeNKD pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-hycgNl dilOGW pf-c3e76a08">{{ product.title }}</h3><h3 data-pf-type="Heading" class="sc-iGPElx eTVcMH pf-a127faf5"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-9514e57c">12 pack</span></h3><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-iBmynh fgPtko pf-e5b4f083">{{ product.price | money }}</div><div data-pf-type="Block" class="sc-dyGzUR igZhSP pf-60454744"><div data-product-id="{{ product.id }}" size="30" data-pf-type="ProductQuantity" class="sc-jWojfa dBfkGm pf-9122a6ba"><button data-quantity-action="decrease" data-quantity-disabled="true">-</button><input min="1" type="number" data-hidespinner="true" value="1"><button data-quantity-action="increase">+</button></div><button data-product-id="{{ product.id }}" data-checkout="cart" class="sc-jkCMRl hOFaaf pf-55dada14" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" data-pf-type="ProductATC"><span>Add to Cart</span></button></div>{% assign product = defaultProduct %}</div></div></div><div class="sc-drKuOJ bejofX pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-gRnDUn fJTCAC pf-e95788bc" data-pf-type="Column"><div data-product-id="1914817544290" data-pf-type="ProductBox" class="sc-crNyjn jsYGEv pf-2d8455b1">{% assign defaultProduct = product %}{% assign product = product_1914817544290 %}<div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-bhlBdH bzjhPd pf-ea5fc30d">{% assign img_size = product.images.size %}<div class="sc-eitiEO hLGuQN">{% if img_size > 1 %}<div class="sc-nrwXf iEeNKD pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="false" mode="view" class="sc-keFjpB iQOqUN"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-nrwXf iEeNKD pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="450px" spacing="10px" class="sc-AnqlK dmbQZE">{% if img_size > 5 %}<div class="sc-nrwXf iEeNKD pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-cpHetk didcdr" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-nrwXf iEeNKD pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-hycgNl dilOGW pf-5a075acd">{{ product.title }}</h3><h3 data-pf-type="Heading" class="sc-iGPElx eTVcMH pf-386da720"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-62bd567d">12 pack</span></h3><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-iBmynh fgPtko pf-8b3b173c">{{ product.price | money }}</div><div data-pf-type="Block" class="sc-dyGzUR igZhSP pf-e1a71e78"><div data-product-id="{{ product.id }}" size="30" data-pf-type="ProductQuantity" class="sc-jWojfa dBfkGm pf-9d7f7490"><button data-quantity-action="decrease" data-quantity-disabled="true">-</button><input min="1" type="number" data-hidespinner="true" value="1"><button data-quantity-action="increase">+</button></div><button data-product-id="{{ product.id }}" data-checkout="cart" class="sc-jkCMRl hOFaaf pf-2d8ecce9" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" data-pf-type="ProductATC"><span>Add to Cart</span></button></div>{% assign product = defaultProduct %}</div></div></div><div class="sc-drKuOJ bejofX pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-gRnDUn fJTCAC pf-922b7a74" data-pf-type="Column"><div data-product-id="1916748759138" data-pf-type="ProductBox" class="sc-crNyjn jsYGEv pf-79f29c21">{% assign defaultProduct = product %}{% assign product = product_1916748759138 %}<div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-bhlBdH bzjhPd pf-11e8af6b">{% assign img_size = product.images.size %}<div class="sc-eitiEO hLGuQN">{% if img_size > 1 %}<div class="sc-nrwXf iEeNKD pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="false" mode="view" class="sc-keFjpB iQOqUN"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-nrwXf iEeNKD pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="450px" spacing="10px" class="sc-AnqlK dmbQZE">{% if img_size > 5 %}<div class="sc-nrwXf iEeNKD pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-cpHetk didcdr" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-nrwXf iEeNKD pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-hycgNl dilOGW pf-ec20a9ae">{{ product.title }}</h3><h3 data-pf-type="Heading" class="sc-iGPElx eTVcMH pf-83d836d2"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-7ef6c034">12 pack</span></h3><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-iBmynh fgPtko pf-82c100ed">{{ product.price | money }}</div><div data-pf-type="Block" class="sc-dyGzUR igZhSP pf-6700b527"><div data-product-id="{{ product.id }}" size="30" data-pf-type="ProductQuantity" class="sc-jWojfa dBfkGm pf-cbf5551a"><button data-quantity-action="decrease" data-quantity-disabled="true">-</button><input min="1" type="number" data-hidespinner="true" value="1"><button data-quantity-action="increase">+</button></div><button data-product-id="{{ product.id }}" data-checkout="cart" class="sc-jkCMRl hOFaaf pf-03a40d3f" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" data-pf-type="ProductATC"><span>Add to Cart</span></button></div>{% assign product = defaultProduct %}</div></div></div><div class="sc-drKuOJ bejofX pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-gRnDUn fJTCAC pf-700e077a" data-pf-type="Column"><div data-product-id="3954544115810" data-pf-type="ProductBox" class="sc-crNyjn jsYGEv pf-058dac9e">{% assign defaultProduct = product %}{% assign product = product_3954544115810 %}<div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-bhlBdH bzjhPd pf-b5d0d730">{% assign img_size = product.images.size %}<div class="sc-eitiEO hLGuQN">{% if img_size > 1 %}<div class="sc-nrwXf iEeNKD pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="false" mode="view" class="sc-keFjpB iQOqUN"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-nrwXf iEeNKD pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="450px" spacing="10px" class="sc-AnqlK dmbQZE">{% if img_size > 5 %}<div class="sc-nrwXf iEeNKD pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-cpHetk didcdr" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-nrwXf iEeNKD pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-hycgNl dilOGW pf-d19dbd32">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-iBmynh fgPtko pf-eea1a91f">{{ product.price | money }}</div><div data-pf-type="Block" class="sc-dyGzUR igZhSP pf-6afea661"><div data-product-id="{{ product.id }}" size="30" data-pf-type="ProductQuantity" class="sc-jWojfa dBfkGm pf-90e2b4be"><button data-quantity-action="decrease" data-quantity-disabled="true">-</button><input min="1" type="number" data-hidespinner="true" value="1"><button data-quantity-action="increase">+</button></div><button data-product-id="{{ product.id }}" data-checkout="cart" class="sc-jkCMRl hOFaaf pf-fb9e788d" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" data-pf-type="ProductATC"><span>Add to Cart</span></button></div><p class="sc-dREXXX gMKZx pf-327e2a41" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-52eeae37">One trial pack per customer</span></p>{% assign product = defaultProduct %}</div></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.8.8","elementData":{"pf-5eff30cb":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"},"pf-d6e1949d":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"},"pf-ea5fc30d":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"},"pf-11e8af6b":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"},"pf-b5d0d730":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"}},"pageType":"product","pageId":"cb0d22eb-b778-44c6-bbf0-c2e1b5396300","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.8.8/core/helper.js?t=2020-03-20-07" defer></script>