{% capture captured_page %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400,500,700&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.16.2/css/main-style.css?t=20210126100123"><link rel="stylesheet" href="{{ 'pagefly.9c0ef013.css' | asset_url }}">
		  {% if product_1914810957922 == null %}{%- assign product_1914810957922 = all_products['vanilla-ashwagandha'] -%}{% endif %} {% if product_1914813644898 == null %}{%- assign product_1914813644898 = all_products['chocolate-maca'] -%}{% endif %} {% if product_4350514004066 == null %}{%- assign product_4350514004066 = all_products['mocha-latte'] -%}{% endif %} {% if product_4532814020706 == null %}{%- assign product_4532814020706 = all_products['mixed-case-6-flavors'] -%}{% endif %} {% if product_1914817544290 == null %}{%- assign product_1914817544290 = all_products['matcha-moringa'] -%}{% endif %} {% if product_4532809498722 == null %}{%- assign product_4532809498722 = all_products['cookies-and-cream'] -%}{% endif %} {% if product_4532812185698 == null %}{%- assign product_4532812185698 = all_products['coconut-cashew'] -%}{% endif %}<script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	window.__pageflyProducts["1914810957922"] = {
					id: {{product_1914810957922.id | json }},
					handle: {{product_1914810957922.handle | json }},
					title: {{product_1914810957922.title | json }},
					type: {{product_1914810957922.type | json }},
					url: {{product_1914810957922.url | json }},
					vendor: {{product_1914810957922.vendor | json }},
					variants: {{product_1914810957922.variants | json }},
					options: {{product_1914810957922.options | json }},
					media: {{product_1914810957922.media | json }},
					has_only_default_variant: {{product_1914810957922.has_only_default_variant | json }},
					options_with_values: {{product_1914810957922.options_with_values | json }},
					selected_variant: {{product_1914810957922.selected_variant | json }},
					selected_or_first_available_variant: {{product_1914810957922.selected_or_first_available_variant | json }},
					tags: {{product_1914810957922.tags | json }},
					template_suffix: {{product_1914810957922.template_suffix | json }},
					featured_image: {{product_1914810957922.featured_image | json }},
					featured_media: {{product_1914810957922.featured_media | json }},
					images: {{product_1914810957922.images | json }}
				};window.__pageflyProducts["1914813644898"] = {
					id: {{product_1914813644898.id | json }},
					handle: {{product_1914813644898.handle | json }},
					title: {{product_1914813644898.title | json }},
					type: {{product_1914813644898.type | json }},
					url: {{product_1914813644898.url | json }},
					vendor: {{product_1914813644898.vendor | json }},
					variants: {{product_1914813644898.variants | json }},
					options: {{product_1914813644898.options | json }},
					media: {{product_1914813644898.media | json }},
					has_only_default_variant: {{product_1914813644898.has_only_default_variant | json }},
					options_with_values: {{product_1914813644898.options_with_values | json }},
					selected_variant: {{product_1914813644898.selected_variant | json }},
					selected_or_first_available_variant: {{product_1914813644898.selected_or_first_available_variant | json }},
					tags: {{product_1914813644898.tags | json }},
					template_suffix: {{product_1914813644898.template_suffix | json }},
					featured_image: {{product_1914813644898.featured_image | json }},
					featured_media: {{product_1914813644898.featured_media | json }},
					images: {{product_1914813644898.images | json }}
				};window.__pageflyProducts["4350514004066"] = {
					id: {{product_4350514004066.id | json }},
					handle: {{product_4350514004066.handle | json }},
					title: {{product_4350514004066.title | json }},
					type: {{product_4350514004066.type | json }},
					url: {{product_4350514004066.url | json }},
					vendor: {{product_4350514004066.vendor | json }},
					variants: {{product_4350514004066.variants | json }},
					options: {{product_4350514004066.options | json }},
					media: {{product_4350514004066.media | json }},
					has_only_default_variant: {{product_4350514004066.has_only_default_variant | json }},
					options_with_values: {{product_4350514004066.options_with_values | json }},
					selected_variant: {{product_4350514004066.selected_variant | json }},
					selected_or_first_available_variant: {{product_4350514004066.selected_or_first_available_variant | json }},
					tags: {{product_4350514004066.tags | json }},
					template_suffix: {{product_4350514004066.template_suffix | json }},
					featured_image: {{product_4350514004066.featured_image | json }},
					featured_media: {{product_4350514004066.featured_media | json }},
					images: {{product_4350514004066.images | json }}
				};window.__pageflyProducts["4532814020706"] = {
					id: {{product_4532814020706.id | json }},
					handle: {{product_4532814020706.handle | json }},
					title: {{product_4532814020706.title | json }},
					type: {{product_4532814020706.type | json }},
					url: {{product_4532814020706.url | json }},
					vendor: {{product_4532814020706.vendor | json }},
					variants: {{product_4532814020706.variants | json }},
					options: {{product_4532814020706.options | json }},
					media: {{product_4532814020706.media | json }},
					has_only_default_variant: {{product_4532814020706.has_only_default_variant | json }},
					options_with_values: {{product_4532814020706.options_with_values | json }},
					selected_variant: {{product_4532814020706.selected_variant | json }},
					selected_or_first_available_variant: {{product_4532814020706.selected_or_first_available_variant | json }},
					tags: {{product_4532814020706.tags | json }},
					template_suffix: {{product_4532814020706.template_suffix | json }},
					featured_image: {{product_4532814020706.featured_image | json }},
					featured_media: {{product_4532814020706.featured_media | json }},
					images: {{product_4532814020706.images | json }}
				};window.__pageflyProducts["1914817544290"] = {
					id: {{product_1914817544290.id | json }},
					handle: {{product_1914817544290.handle | json }},
					title: {{product_1914817544290.title | json }},
					type: {{product_1914817544290.type | json }},
					url: {{product_1914817544290.url | json }},
					vendor: {{product_1914817544290.vendor | json }},
					variants: {{product_1914817544290.variants | json }},
					options: {{product_1914817544290.options | json }},
					media: {{product_1914817544290.media | json }},
					has_only_default_variant: {{product_1914817544290.has_only_default_variant | json }},
					options_with_values: {{product_1914817544290.options_with_values | json }},
					selected_variant: {{product_1914817544290.selected_variant | json }},
					selected_or_first_available_variant: {{product_1914817544290.selected_or_first_available_variant | json }},
					tags: {{product_1914817544290.tags | json }},
					template_suffix: {{product_1914817544290.template_suffix | json }},
					featured_image: {{product_1914817544290.featured_image | json }},
					featured_media: {{product_1914817544290.featured_media | json }},
					images: {{product_1914817544290.images | json }}
				};window.__pageflyProducts["4532809498722"] = {
					id: {{product_4532809498722.id | json }},
					handle: {{product_4532809498722.handle | json }},
					title: {{product_4532809498722.title | json }},
					type: {{product_4532809498722.type | json }},
					url: {{product_4532809498722.url | json }},
					vendor: {{product_4532809498722.vendor | json }},
					variants: {{product_4532809498722.variants | json }},
					options: {{product_4532809498722.options | json }},
					media: {{product_4532809498722.media | json }},
					has_only_default_variant: {{product_4532809498722.has_only_default_variant | json }},
					options_with_values: {{product_4532809498722.options_with_values | json }},
					selected_variant: {{product_4532809498722.selected_variant | json }},
					selected_or_first_available_variant: {{product_4532809498722.selected_or_first_available_variant | json }},
					tags: {{product_4532809498722.tags | json }},
					template_suffix: {{product_4532809498722.template_suffix | json }},
					featured_image: {{product_4532809498722.featured_image | json }},
					featured_media: {{product_4532809498722.featured_media | json }},
					images: {{product_4532809498722.images | json }}
				};window.__pageflyProducts["4532812185698"] = {
					id: {{product_4532812185698.id | json }},
					handle: {{product_4532812185698.handle | json }},
					title: {{product_4532812185698.title | json }},
					type: {{product_4532812185698.type | json }},
					url: {{product_4532812185698.url | json }},
					vendor: {{product_4532812185698.vendor | json }},
					variants: {{product_4532812185698.variants | json }},
					options: {{product_4532812185698.options | json }},
					media: {{product_4532812185698.media | json }},
					has_only_default_variant: {{product_4532812185698.has_only_default_variant | json }},
					options_with_values: {{product_4532812185698.options_with_values | json }},
					selected_variant: {{product_4532812185698.selected_variant | json }},
					selected_or_first_available_variant: {{product_4532812185698.selected_or_first_available_variant | json }},
					tags: {{product_4532812185698.tags | json }},
					template_suffix: {{product_4532812185698.template_suffix | json }},
					featured_image: {{product_4532812185698.featured_image | json }},
					featured_media: {{product_4532812185698.featured_media | json }},
					images: {{product_4532812185698.images | json }}
				};window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};
	</script><div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-11a0c9c2"><div data-pf-type="Layout" class="pf-6411a0c9"><div data-container="true" class="sc-pZopv bjKdkd pf-ce6411a0 pf-products" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-e207893b pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-84072845" data-pf-type="Column"><h1 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-908bb6e2"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-f3840728">Plant Protein Perfected</span></h1></div></div></div><div class="sc-qPjXN eYzxUD pf-bf0a54f4 pf-r pf-r-align--cm pf-r-ew--3 pf-r-ew fade-in" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:0px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-6e28fa1d" data-pf-type="Column"><div data-product-id="1914810957922" data-default-variant="18218557931618" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-936e28fa product">{% assign defaultProduct = product %}{% assign product = product_1914810957922 %} {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-0fe24cbb" %}<div class="sc-qPjXN eYzxUD pf-15890fe2 pf-r pf-r-eh pf-r-ew product-details-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-a2936e28 product-details-column" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-pzLIQ SfOJX pf-893b900d animate-shrink animate-shrink product-image">{% assign img_size = product.images.size %}<div class="sc-qZusK vHMOL">{% if img_size > 1 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="false" mode="view" class="sc-pQERe kZYFQD" style="--pf-d-lg:flex; --pf-d-md:flex; --pf-d-sm:flex; --pf-d-xs:flex;"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="450px" spacing="10px" class="sc-pHHLp blakCf">{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-psbuI efwYHr" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-a4ec4b96--vanillaoptimized.png?v=1592340667 1200w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-a4ec4b96--vanillaoptimized.png?v=1592340667 800w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-a4ec4b96--vanillaoptimized_400x466.png?v=1592340667&resized 400w" class="sc-qZtVr dLIPjF pf-900d2a5a background" data-pf-type="Image2"><div class="sc-qPjXN eYzxUD pf-65bb0eeb pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--9 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-0728456f title" data-pf-type="Column"><h1 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-plgA-D dNfjzh pf-2a5a03f2 text-uppercase mb-1">{{ product.title }}</h1></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--4 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-28456fdf col" data-pf-type="Column"><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-f2d1f465 text-uppercase mb-1">{{ product.variants[0].price | money }}</div></div></div></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-456fdff3">{% unless product.metafields.global.product_lightbox_image_url == blank %}
{%- assign mColour = product.metafields.global.product_lightbox_image_url -%}

    <!-- product info lightbox -->
    <div class="link mb-2">

        <a class="product-link lightbox" data-fancybox="" data-src="#{{ product.id }}_lightbox">

            <h6>Nutrition, Ingredients, Benefits</h6>

        </a>

        <div style="display: none;" id="{{ product.id }}_lightbox" class="bg-dark product-lightbox">

            <div class="row justify-content-center align-items-center">

                <div class="col-lg-6 background-white">

                    <img src="{{ mColour }}" alt="Nutrition Facts">

                </div>

                <div class="col-lg-6 text-center lightbox-content">

                    <p>{{ product.metafields.global.product_lightbox_text_html }}</p>

                </div>

            </div>

        </div>

    </div>
{% endunless %}</div><div data-pf-type="ReCharge" class="sc-psrQp kkPGoW pf-6fdff3a2 selectors">{% include 'subscription-product' %}</div><div data-product-id="{{ product.id }}" data-display="dropdown" data-pf-type="ProductVariant" class="sc-pQfSI bhOBUo pf-3b5b480f" style="--pf-s-lg:16px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.selected_or_first_available_variant.id }}"></div><div class="sc-qPjXN eYzxUD pf-f2a22467 pf-r pf-r-align--cm quantity-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--8 pf-c-md--8 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-fb6a2806 product-variants" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-display="radio" data-pf-type="ProductVariant" class="sc-pQfSI jppKZ pf-480ffb6a" style="--pf-s-lg:5px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.selected_or_first_available_variant.id }}"></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--4 pf-c-md--4 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-f936f2a2 form-group quantity col px-0" data-pf-type="Column"><div data-product-id="{{ product.id }}" size="50" data-pf-type="ProductQuantity" class="sc-pQQAz euKLeR pf-2806f936 product-quantity"><button data-quantity-action="decrease" data-quantity-disabled="true" type="button">-</button><input min="1" type="number" data-hidespinner="true" name="quantity" value="1"><button type="button" data-quantity-action="increase">+</button></div></div></div></div><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-f3a2936e"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-dff3a293">                <button data-productid="{{product.id}}" class="btn btn--to-secondary btn--full product__add-to-cart-button ajax_form_cart single_add_to_cart_button mt-1" type="submit" id="add" value="Add to Cart" aria-label="{{ 'products.product.add_to_cart' | t }}">
                    <span class="secondary-text" aria-hidden="true" data-cart-secondary-submit-text="">{{ 'products.product.add_to_cart' | t }}</span>
                </button></div></div></div></div></div>{% endform %}{% endif %}{% assign product = defaultProduct %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-13728d61" data-pf-type="Column"><div data-product-id="1914813644898" data-default-variant="18218580574306" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-5b13728d product">{% assign defaultProduct = product %}{% assign product = product_1914813644898 %} {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-20049772" %}<div class="sc-qPjXN eYzxUD pf-40ec2004 pf-r pf-r-eh pf-r-ew product-details-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-875b1372 product-details-column" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-pzLIQ SfOJX pf-4cbb291f animate-shrink animate-shrink product-image">{% assign img_size = product.images.size %}<div class="sc-qZusK vHMOL">{% if img_size > 1 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="false" mode="view" class="sc-pQERe kZYFQD" style="--pf-d-lg:flex; --pf-d-md:flex; --pf-d-sm:flex; --pf-d-xs:flex;"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="450px" spacing="10px" class="sc-pHHLp blakCf">{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-psbuI efwYHr" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-ec4b9691--chocolateoptimized.png?v=1592340691 1200w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-ec4b9691--chocolateoptimized.png?v=1592340691 800w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-ec4b9691--chocolateoptimized_400x466.png?v=1592340691&resized 400w" class="sc-qZtVr dLIPjF pf-291f1af1 background" data-pf-type="Image2"><div class="sc-qPjXN eYzxUD pf-d35f1794 pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-28fa1d61 title" data-pf-type="Column"><h1 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-plgA-D dNfjzh pf-1af144e6 text-uppercase mb-1">{{ product.title }}</h1></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--7 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-fa1d61e7 col" data-pf-type="Column"><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-e609e7d3 text-uppercase mb-1">{{ product.variants[0].price | money }}</div></div></div></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-1d61e7b9">{% unless product.metafields.global.product_lightbox_image_url == blank %}
{%- assign mColour = product.metafields.global.product_lightbox_image_url -%}

    <!-- product info lightbox -->
    <div class="link mb-2">

        <a class="product-link lightbox" data-fancybox="" data-src="#{{ product.id }}_lightbox">

            <h6>Nutrition, Ingredients, Benefits</h6>

        </a>

        <div style="display: none;" id="{{ product.id }}_lightbox" class="bg-dark product-lightbox">

            <div class="row justify-content-center align-items-center">

                <div class="col-lg-6 background-white">

                    <img src="{{ mColour }}" alt="Nutrition Facts">

                </div>

                <div class="col-lg-6 text-center lightbox-content">

                    <p>{{ product.metafields.global.product_lightbox_text_html }}</p>

                </div>

            </div>

        </div>

    </div>
{% endunless %}</div><div data-pf-type="ReCharge" class="sc-psrQp kkPGoW pf-61e7b987 selectors">{% include 'subscription-product' %}</div><div data-product-id="{{ product.id }}" data-display="dropdown" data-pf-type="ProductVariant" class="sc-pQfSI bhOBUo pf-0b75e95d" style="--pf-s-lg:16px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.selected_or_first_available_variant.id }}"></div><div class="sc-qPjXN eYzxUD pf-3a2d2e9f pf-r pf-r-align--cm quantity-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-dba4400e product-variants" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-display="radio" data-pf-type="ProductVariant" class="sc-pQfSI jppKZ pf-e95ddba4" style="--pf-s-lg:5px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.selected_or_first_available_variant.id }}"></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--4 pf-c-md--4 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-77103a2d form-group quantity col px-0" data-pf-type="Column"><div data-product-id="{{ product.id }}" size="40" data-pf-type="ProductQuantity" class="sc-pQQAz daLzjN pf-400e7710 product-quantity"><button data-quantity-action="decrease" data-quantity-disabled="true" type="button">-</button><input min="1" type="number" data-hidespinner="true" name="quantity" value="1"><button type="button" data-quantity-action="increase">+</button></div></div></div></div><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-b9875b13"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-e7b9875b">                <button data-productid="{{product.id}}" class="btn btn--to-secondary btn--full product__add-to-cart-button ajax_form_cart single_add_to_cart_button mt-1" type="submit" id="add" value="Add to Cart" aria-label="{{ 'products.product.add_to_cart' | t }}">
                    <span class="secondary-text" aria-hidden="true" data-cart-secondary-submit-text="">{{ 'products.product.add_to_cart' | t }}</span>
                </button></div></div></div></div></div>{% endform %}{% endif %}{% assign product = defaultProduct %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-53160426" data-pf-type="Column"><div data-product-id="1914817544290" data-default-variant="18218611081314" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-a3672cb2 product no-30-pack">{% assign defaultProduct = product %}{% assign product = product_1914817544290 %} {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-672cb2a9" %}<div class="sc-qPjXN eYzxUD pf-e6fea367 pf-r pf-r-eh pf-r-ew product-details-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-11531604 product-details-column" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-pzLIQ SfOJX pf-977248f9 animate-shrink animate-shrink product-image">{% assign img_size = product.images.size %}<div class="sc-qZusK vHMOL">{% if img_size > 1 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="false" mode="view" class="sc-pQERe kZYFQD" style="--pf-d-lg:flex; --pf-d-md:flex; --pf-d-sm:flex; --pf-d-xs:flex;"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="450px" spacing="10px" class="sc-pHHLp blakCf">{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-psbuI efwYHr" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-a52baa08--matchaoptimized.png?v=1592340819 1200w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-a52baa08--matchaoptimized.png?v=1592340819 800w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-a52baa08--matchaoptimized_400x466.png?v=1592340819&resized 400w" class="sc-qZtVr dLIPjF pf-48f9845b background" data-pf-type="Image2"><div class="sc-qPjXN eYzxUD pf-03282161 pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-728d6189 title" data-pf-type="Column"><h1 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-plgA-D dNfjzh pf-845b1eb7 text-uppercase mb-1">{{ product.title }}</h1></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--9 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-8d618903 col" data-pf-type="Column"><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-b7ac0103 text-uppercase mb-1">{{ product.variants[0].price | money }}</div></div></div></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-618903fb">{% unless product.metafields.global.product_lightbox_image_url == blank %}
{%- assign mColour = product.metafields.global.product_lightbox_image_url -%}

    <!-- product info lightbox -->
    <div class="link mb-2">

        <a class="product-link lightbox" data-fancybox="" data-src="#{{ product.id }}_lightbox">

            <h6>Nutrition, Ingredients, Benefits</h6>

        </a>

        <div style="display: none;" id="{{ product.id }}_lightbox" class="bg-dark product-lightbox">

            <div class="row justify-content-center align-items-center">

                <div class="col-lg-6 background-white">

                    <img src="{{ mColour }}" alt="Nutrition Facts">

                </div>

                <div class="col-lg-6 text-center lightbox-content">

                    <p>{{ product.metafields.global.product_lightbox_text_html }}</p>

                </div>

            </div>

        </div>

    </div>
{% endunless %}</div><div data-pf-type="ReCharge" class="sc-psrQp kkPGoW pf-8903fb11 selectors">{% include 'subscription-product' %}</div><div data-product-id="{{ product.id }}" data-display="dropdown" data-pf-type="ProductVariant" class="sc-pQfSI bhOBUo pf-2073ced9" style="--pf-s-lg:16px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.selected_or_first_available_variant.id }}"></div><div class="sc-qPjXN eYzxUD pf-87def830 pf-r pf-r-align--cm quantity-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-af46894d product-variants" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-display="radio" data-pf-type="ProductVariant" class="sc-pQfSI jppKZ pf-ced9af46" style="--pf-s-lg:5px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.selected_or_first_available_variant.id }}"></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--4 pf-c-md--4 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-1d0187de form-group quantity col px-0" data-pf-type="Column"><div data-product-id="{{ product.id }}" size="40" data-pf-type="ProductQuantity" class="sc-pQQAz daLzjN pf-894d1d01 product-quantity"><button data-quantity-action="decrease" data-quantity-disabled="true" type="button">-</button><input min="1" type="number" data-hidespinner="true" name="quantity" value="1"><button type="button" data-quantity-action="increase">+</button></div></div></div></div><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-fb115316"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-03fb1153">                <button data-productid="{{product.id}}" class="btn disabled btn--to-secondary btn--full product__add-to-cart-button ajax_form_cart single_add_to_cart_button mt-1" type="submit" id="add" value="Add to Cart" aria-label="{{ 'products.product.add_to_cart' | t }}">
                    <span class="secondary-text" aria-hidden="true" data-cart-secondary-submit-text="">
					  {{ 'products.product.add_to_cart' | t }}
				  </span>
                </button></div></div></div></div></div>{% endform %}{% endif %}{% assign product = defaultProduct %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-5820e232" data-pf-type="Column"><div data-product-id="4350514004066" data-default-variant="31239505248354" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-a45820e2 product">{% assign defaultProduct = product %}{% assign product = product_4350514004066 %} {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-9396e00c" %}<div class="sc-qPjXN eYzxUD pf-4bcf9396 pf-r pf-r-eh pf-r-ew product-details-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-caa45820 product-details-column" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-pzLIQ SfOJX pf-b2a96b41 animate-shrink animate-shrink product-image">{% assign img_size = product.images.size %}<div class="sc-qZusK vHMOL">{% if img_size > 1 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="false" mode="view" class="sc-pQERe kZYFQD" style="--pf-d-lg:flex; --pf-d-md:flex; --pf-d-sm:flex; --pf-d-xs:flex;"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="450px" spacing="10px" class="sc-pHHLp blakCf">{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-psbuI efwYHr" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-44c141ba--mocha-product-background-image.jpg?v=1594301501 1200w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-44c141ba--mocha-product-background-image_800x932.jpg?v=1594301501&resized 800w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-44c141ba--mocha-product-background-image_400x466.jpg?v=1594301501&resized 400w" class="sc-qZtVr dLIPjF pf-6b41b738 background" data-pf-type="Image2"><div class="sc-qPjXN eYzxUD pf-72f80c2e pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--9 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-16042666 title" data-pf-type="Column"><h1 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-plgA-D dNfjzh pf-b738efb9 text-uppercase mb-1">{{ product.title }}</h1></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--4 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-0426663e col" data-pf-type="Column"><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-b9719672 text-uppercase mb-1">{{ product.variants[0].price | money }}</div></div></div></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-26663e86">{% unless product.metafields.global.product_lightbox_image_url == blank %}
{%- assign mColour = product.metafields.global.product_lightbox_image_url -%}

    <!-- product info lightbox -->
    <div class="link mb-2">

        <a class="product-link lightbox" data-fancybox="" data-src="#{{ product.id }}_lightbox">

            <h6>Nutrition, Ingredients, Benefits</h6>

        </a>

        <div style="display: none;" id="{{ product.id }}_lightbox" class="bg-dark product-lightbox">

            <div class="row justify-content-center align-items-center">

                <div class="col-lg-6 background-white">

                    <img src="{{ mColour }}" alt="Nutrition Facts">

                </div>

                <div class="col-lg-6 text-center lightbox-content">

                    <p>{{ product.metafields.global.product_lightbox_text_html }}</p>

                </div>

            </div>

        </div>

    </div>
{% endunless %}</div><div data-pf-type="ReCharge" class="sc-psrQp kkPGoW pf-663e86ca selectors">{% include 'subscription-product' %}</div><div data-product-id="{{ product.id }}" data-display="dropdown" data-pf-type="ProductVariant" class="sc-pQfSI bhOBUo pf-5d4f18c4" style="--pf-s-lg:16px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.selected_or_first_available_variant.id }}"></div><div class="sc-qPjXN eYzxUD pf-a51fa6cf pf-r pf-r-align--cm quantity-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--8 pf-c-md--8 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-9fa3841b product-variants" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-display="radio" data-pf-type="ProductVariant" class="sc-pQfSI jppKZ pf-60b05204" style="--pf-s-lg:5px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.selected_or_first_available_variant.id }}"></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--4 pf-c-md--4 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-0ab8a51f form-group quantity col px-0" data-pf-type="Column"><div data-product-id="{{ product.id }}" size="50" data-pf-type="ProductQuantity" class="sc-pQQAz euKLeR pf-841b0ab8 product-quantity"><button data-quantity-action="decrease" data-quantity-disabled="true" type="button">-</button><input min="1" type="number" data-hidespinner="true" name="quantity" value="1"><button type="button" data-quantity-action="increase">+</button></div></div></div></div><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-86caa458"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-3e86caa4">                <button data-productid="{{product.id}}" class="btn btn--to-secondary btn--full product__add-to-cart-button ajax_form_cart single_add_to_cart_button mt-1" type="submit" id="add" value="Add to Cart" aria-label="{{ 'products.product.add_to_cart' | t }}">
                    <span class="secondary-text" aria-hidden="true" data-cart-secondary-submit-text="">{{ 'products.product.add_to_cart' | t }}</span>
                </button></div></div></div></div></div>{% endform %}{% endif %}{% assign product = defaultProduct %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-551797b0" data-pf-type="Column"><div data-product-id="4532812185698" data-default-variant="32069049581666" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-ce551797 product">{% assign defaultProduct = product %}{% assign product = product_4532812185698 %} {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-ed27320a" %}<div class="sc-qPjXN eYzxUD pf-528aed27 pf-r pf-r-eh pf-r-ew product-details-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-6cce5517 product-details-column id-{{ product.id }}" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-pzLIQ SfOJX pf-e00c57d3 animate-shrink animate-shrink product-image">{% assign img_size = product.images.size %}<div class="sc-qZusK vHMOL">{% if img_size > 1 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="false" mode="view" class="sc-pQERe kZYFQD" style="--pf-d-lg:flex; --pf-d-md:flex; --pf-d-sm:flex; --pf-d-xs:flex;"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="450px" spacing="10px" class="sc-pHHLp blakCf">{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-psbuI efwYHr" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-dbe5d75d--coconut2.jpg?v=1609468577 1200w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-dbe5d75d--coconut2_800x932.jpg?v=1609468577&resized 800w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-dbe5d75d--coconut2_400x466.jpg?v=1609468577&resized 400w" class="sc-qZtVr dLIPjF pf-57d3c4e6 background" data-pf-type="Image2"><div class="sc-qPjXN eYzxUD pf-513cd569 pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-20e23289 title" data-pf-type="Column"><h1 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-plgA-D dNfjzh pf-c4e693a5 text-uppercase mb-1">{{ product.title }}</h1></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--4 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-e23289e9 col" data-pf-type="Column"><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-a5468151 text-uppercase mb-1">{{ product.variants[0].price | money }}</div></div></div></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-3289e9b4">{% unless product.metafields.global.product_lightbox_image_url == blank %}
{%- assign mColour = product.metafields.global.product_lightbox_image_url -%}

    <!-- product info lightbox -->
    <div class="link mb-2">

        <a class="product-link lightbox" data-fancybox="" data-src="#{{ product.id }}_lightbox">

            <h6>Nutrition, Ingredients, Benefits</h6>

        </a>

        <div style="display: none;" id="{{ product.id }}_lightbox" class="bg-dark product-lightbox">

            <div class="row justify-content-center align-items-center">

                <div class="col-lg-6 background-white">

                    <img src="{{ mColour }}" alt="Nutrition Facts">

                </div>

                <div class="col-lg-6 text-center lightbox-content">

                    <p>{{ product.metafields.global.product_lightbox_text_html }}</p>

                </div>

            </div>

        </div>

    </div>
{% endunless %}</div><div data-pf-type="ReCharge" class="sc-psrQp kkPGoW pf-89e9b46c selectors">{% include 'subscription-product' %}</div><div data-product-id="{{ product.id }}" data-display="dropdown" data-pf-type="ProductVariant" class="sc-pQfSI bhOBUo pf-3381b537" style="--pf-s-lg:16px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.selected_or_first_available_variant.id }}"></div><div class="sc-qPjXN eYzxUD pf-c6108a3f pf-r pf-r-align--cm quantity-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-79629bc5 product-variants" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-display="radio" data-pf-type="ProductVariant" class="sc-pQfSI jppKZ pf-b5377962" style="--pf-s-lg:5px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.selected_or_first_available_variant.id }}"></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--4 pf-c-md--4 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-6ea9c610 form-group quantity col px-0" data-pf-type="Column"><div data-product-id="{{ product.id }}" size="40" data-pf-type="ProductQuantity" class="sc-pQQAz daLzjN pf-9bc56ea9 product-quantity"><button data-quantity-action="decrease" data-quantity-disabled="true" type="button">-</button><input min="1" type="number" data-hidespinner="true" name="quantity" value="1"><button type="button" data-quantity-action="increase">+</button></div></div></div></div><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-b46cce55"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-e9b46cce">                <button data-productid="{{product.id}}" class="btn btn--to-secondary btn--full product__add-to-cart-button ajax_form_cart single_add_to_cart_button mt-1" type="submit" id="add" value="Add to Cart" aria-label="{{ 'products.product.add_to_cart' | t }}">
                    <span class="secondary-text" aria-hidden="true" data-cart-secondary-submit-text="">{{ 'products.product.add_to_cart' | t }}</span>
                </button></div></div></div></div></div>{% endform %}{% endif %}{% assign product = defaultProduct %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-aff3e345" data-pf-type="Column"><div data-product-id="4532809498722" data-default-variant="32069046534242" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-34aff3e3 product mixed-12-pack">{% assign defaultProduct = product %}{% assign product = product_4532809498722 %} {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-b1ed0acf" %}<div class="sc-qPjXN eYzxUD pf-b6f0b1ed pf-r pf-r-eh pf-r-ew product-details-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-f534aff3 product-details-column id-{{ product.id }}" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-pzLIQ SfOJX pf-320a5f17 animate-shrink animate-shrink product-image">{% assign img_size = product.images.size %}<div class="sc-qZusK vHMOL">{% if img_size > 1 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="false" mode="view" class="sc-pQERe kZYFQD" style="--pf-d-lg:flex; --pf-d-md:flex; --pf-d-sm:flex; --pf-d-xs:flex;"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="450px" spacing="10px" class="sc-pHHLp blakCf">{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-psbuI efwYHr" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-e5d75d21--cookiescream.jpg?v=1609468874 1200w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-e5d75d21--cookiescream_800x932.jpg?v=1609468874&resized 800w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-e5d75d21--cookiescream_400x466.jpg?v=1609468874&resized 400w" class="sc-qZtVr dLIPjF pf-5f177a85 background" data-pf-type="Image2"><div class="sc-qPjXN eYzxUD pf-9024da75 pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-1797b0b6 title" data-pf-type="Column"><h1 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-plgA-D dNfjzh pf-7a85e750 text-uppercase mb-1">{{ product.title }}</h1></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--4 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-97b0b66c col" data-pf-type="Column"><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-50649b90 text-uppercase mb-1">{{ product.variants[0].price | money }}</div></div></div></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-b0b66c02">{% unless product.metafields.global.product_lightbox_image_url == blank %}
{%- assign mColour = product.metafields.global.product_lightbox_image_url -%}

    <!-- product info lightbox -->
    <div class="link mb-2">

        <a class="product-link lightbox" data-fancybox="" data-src="#{{ product.id }}_lightbox">

            <h6>Nutrition, Ingredients, Benefits</h6>

        </a>

        <div style="display: none;" id="{{ product.id }}_lightbox" class="bg-dark product-lightbox">

            <div class="row justify-content-center align-items-center">

                <div class="col-lg-6 background-white">

                    <img src="{{ mColour }}" alt="Nutrition Facts">

                </div>

                <div class="col-lg-6 text-center lightbox-content">

                    <p>{{ product.metafields.global.product_lightbox_text_html }}</p>

                </div>

            </div>

        </div>

    </div>
{% endunless %}</div><div data-pf-type="ReCharge" class="sc-psrQp kkPGoW pf-0443d558 selectors">{% include 'subscription-product' %}</div><div data-product-id="{{ product.id }}" data-display="dropdown" data-pf-type="ProductVariant" class="sc-pQfSI bhOBUo pf-d2463baf" style="--pf-s-lg:16px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.selected_or_first_available_variant.id }}"></div><div class="sc-qPjXN eYzxUD pf-47d6e159 pf-r pf-r-align--cm quantity-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--5 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-a0d9b48c product-variants" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-display="radio" data-pf-type="ProductVariant" class="sc-pQfSI jppKZ pf-5863cbff" style="--pf-s-lg:5px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.selected_or_first_available_variant.id }}"></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--4 pf-c-md--6 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-b48c47d6 form-group quantity col px-0" data-pf-type="Column"><div data-product-id="{{ product.id }}" size="40" data-pf-type="ProductQuantity" class="sc-pQQAz daLzjN pf-cbffa0d9 product-quantity mixed-12-pack"><button data-quantity-action="decrease" data-quantity-disabled="true" type="button">-</button><input min="1" type="number" data-hidespinner="true" name="quantity" value="1"><button type="button" data-quantity-action="increase">+</button></div></div></div></div><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-02f534af"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-6c02f534">                <button data-productid="{{product.id}}" class="btn btn--to-secondary btn--full product__add-to-cart-button ajax_form_cart single_add_to_cart_button mt-1" type="submit" id="add" value="Add to Cart" aria-label="{{ 'products.product.add_to_cart' | t }}">
                    <span class="secondary-text" aria-hidden="true" data-cart-secondary-submit-text="">{{ 'products.product.add_to_cart' | t }}</span>
                </button></div></div></div></div></div>{% endform %}{% endif %}{% assign product = defaultProduct %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-0acfc213" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-79ce6411" data-pf-type="Column"><div data-product-id="4532814020706" data-default-variant="32069051613282" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-a379ce64 product">{% assign defaultProduct = product %}{% assign product = product_4532814020706 %} {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-fbd31a41" %}<div class="sc-qPjXN eYzxUD pf-0a1afbd3 pf-r pf-r-eh pf-r-ew product-details-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-a0a379ce product-details-column" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-pzLIQ SfOJX pf-c21388b4 animate-shrink animate-shrink product-image">{% assign img_size = product.images.size %}<div class="sc-qZusK vHMOL">{% if img_size > 1 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="false" mode="view" class="sc-pQERe kZYFQD" style="--pf-d-lg:flex; --pf-d-md:flex; --pf-d-sm:flex; --pf-d-xs:flex;"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="450px" spacing="10px" class="sc-pHHLp blakCf">{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-psbuI efwYHr" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-d75d2107--mixed6flavors.jpg?v=1609469078 1200w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-d75d2107--mixed6flavors_800x932.jpg?v=1609469078&resized 800w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-d75d2107--mixed6flavors_400x466.jpg?v=1609469078&resized 400w" class="sc-qZtVr dLIPjF pf-88b452de background" data-pf-type="Image2"><div class="sc-qPjXN eYzxUD pf-03439407 pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-f3e3454a title" data-pf-type="Column"><h1 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-plgA-D dNfjzh pf-52dee9ce text-uppercase mb-1">{{ product.title }}</h1></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--9 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-e3454acd col" data-pf-type="Column"><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-ced83903 text-uppercase mb-1">{{ product.variants[1].price | money }}</div></div></div></div><div data-pf-type="ReCharge" class="sc-psrQp kkPGoW pf-b66c02f5 selectors">{% include 'subscription-product' %}</div><div class="sc-qPjXN eYzxUD pf-996510b8 pf-r pf-r-align--cm quantity-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--5 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-9ff160b0 product-variants" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-display="radio" data-pf-type="ProductVariant" class="sc-pQfSI jppKZ pf-18c49fa3" style="--pf-s-lg:5px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.selected_or_first_available_variant.id }}"></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--4 pf-c-md--6 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-28359965 form-group quantity col px-0" data-pf-type="Column"><div data-product-id="{{ product.id }}" size="40" data-pf-type="ProductQuantity" class="sc-pQQAz daLzjN pf-3baf2835 product-quantity mixed-12-pack"><button data-quantity-action="decrease" data-quantity-disabled="true" type="button">-</button><input min="1" type="number" data-hidespinner="true" name="quantity" value="1"><button type="button" data-quantity-action="increase">+</button></div></div></div></div><div class="sc-psrQp kkPGoW pf-454acda0 ph phc selectors pf-lg--hidden pf-md--hidden pf-sm--hidden pf-xs--hidden" data-pf-type="ReCharge">Only 1 ReCharge Subscriptions inside a <b>Product Detail!</b></div><div data-product-id="{{ product.id }}" data-display="dropdown" data-pf-type="ProductVariant" class="sc-pQfSI bhOBUo pf-072f60db" style="--pf-s-lg:16px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.selected_or_first_available_variant.id }}"></div><div class="sc-qPjXN eYzxUD pf-7db0f65f pf-r pf-r-align--cm quantity-row pf-lg--hidden pf-md--hidden pf-sm--hidden pf-xs--hidden" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-b6743a0d product-variants" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-display="radio" data-pf-type="ProductVariant" class="sc-pQfSI jppKZ pf-60dbb674 pf-lg--hidden pf-md--hidden pf-sm--hidden pf-xs--hidden" style="--pf-s-lg:5px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.selected_or_first_available_variant.id }}"></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--4 pf-c-md--4 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-53357db0 form-group quantity col px-0" data-pf-type="Column"><div data-product-id="{{ product.id }}" size="40" data-pf-type="ProductQuantity" class="sc-pQQAz daLzjN pf-3a0d5335 product-quantity"><button data-quantity-action="decrease" data-quantity-disabled="true" type="button">-</button><input min="1" type="number" data-hidespinner="true" name="quantity" value="1"><button type="button" data-quantity-action="increase">+</button></div></div></div></div><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-cda0a379"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-4acda0a3">                <button data-productid="{{product.id}}" class="btn btn--to-secondary btn--full product__add-to-cart-button ajax_form_cart single_add_to_cart_button mt-1" type="submit" id="add" value="Add to Cart" aria-label="{{ 'products.product.add_to_cart' | t }}">
                    <span class="secondary-text" aria-hidden="true" data-cart-secondary-submit-text="">{{ 'products.product.add_to_cart' | t }}</span>
                </button></div></div></div></div></div>{% endform %}{% endif %}{% assign product = defaultProduct %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-1a41bf0a" data-pf-type="Column"></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.16.2","shopDomain":"drinkkiito.myshopify.com","elementData":{"pf-893b900d":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"},"pf-4cbb291f":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"},"pf-977248f9":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"},"pf-b2a96b41":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"},"pf-e00c57d3":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"},"pf-320a5f17":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"},"pf-c21388b4":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"}},"pageTitle":"Shop Collection Page","pageType":"collection","pageId":"9c0ef013-908b-46e2-8789-3b900d2a5a03","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview","updatedTime":"2021-01-26T18:14:54.052Z"};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.16.2/core/helper.js?t=20210126100123" defer></script><script><!-- Add this script to your header -->
var is_chrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;
if(is_chrome){
  document.write('{{- 'chrome.css' | asset_url | stylesheet_tag -}}');
}
/*
$( window ).load(function() {
	$('.pf-p-variant-radio>div:last-child input').prop('disabled', true);
});

$(window).load(function() {
      alert("window load occurred!");
});
*/</script>
{% endcapture %}
{% include 'password-protect' %}