<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400,500,700&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.14.10/css/main-style.css?t=20201103101107"><link rel="stylesheet" href="{{ 'pagefly.9e8147a8.scss.css' | asset_url }}">
		  {% if product_1914813644898 == null %}{%- assign product_1914813644898 = all_products['chocolate-maca'] -%}{% endif %} {% if product_1914817544290 == null %}{%- assign product_1914817544290 = all_products['matcha-moringa'] -%}{% endif %} {% if product_1914810957922 == null %}{%- assign product_1914810957922 = all_products['vanilla-ashwagandha'] -%}{% endif %} {% if product_4350514004066 == null %}{%- assign product_4350514004066 = all_products['mocha-latte'] -%}{% endif %} {% if product_4365318193250 == null %}{%- assign product_4365318193250 = all_products['chocolate-vanilla'] -%}{% endif %} {% if product_4461337542754 == null %}{%- assign product_4461337542754 = all_products['4-flavor-mixed-case'] -%}{% endif %} {% if product_4461353795682 == null %}{%- assign product_4461353795682 = all_products['trial-6-pack'] -%}{% endif %}<script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	window.__pageflyProducts["1914813644898"] = {
					id: {{product_1914813644898.id | json }},
					handle: {{product_1914813644898.handle | json }},
					title: {{product_1914813644898.title | json }},
					type: {{product_1914813644898.type | json }},
					url: {{product_1914813644898.url | json }},
					vendor: {{product_1914813644898.vendor | json }},
					variants: {{product_1914813644898.variants | json }},
					options: {{product_1914813644898.options | json }},
					media: {{product_1914813644898.media | json }},
					has_only_default_variant: {{product_1914813644898.has_only_default_variant | json }},
					options_with_values: {{product_1914813644898.options_with_values | json }},
					selected_variant: {{product_1914813644898.selected_variant | json }},
					selected_or_first_available_variant: {{product_1914813644898.selected_or_first_available_variant | json }},
					tags: {{product_1914813644898.tags | json }},
					template_suffix: {{product_1914813644898.template_suffix | json }},
					featured_image: {{product_1914813644898.featured_image | json }},
					featured_media: {{product_1914813644898.featured_media | json }},
					images: {{product_1914813644898.images | json }}
				};window.__pageflyProducts["1914817544290"] = {
					id: {{product_1914817544290.id | json }},
					handle: {{product_1914817544290.handle | json }},
					title: {{product_1914817544290.title | json }},
					type: {{product_1914817544290.type | json }},
					url: {{product_1914817544290.url | json }},
					vendor: {{product_1914817544290.vendor | json }},
					variants: {{product_1914817544290.variants | json }},
					options: {{product_1914817544290.options | json }},
					media: {{product_1914817544290.media | json }},
					has_only_default_variant: {{product_1914817544290.has_only_default_variant | json }},
					options_with_values: {{product_1914817544290.options_with_values | json }},
					selected_variant: {{product_1914817544290.selected_variant | json }},
					selected_or_first_available_variant: {{product_1914817544290.selected_or_first_available_variant | json }},
					tags: {{product_1914817544290.tags | json }},
					template_suffix: {{product_1914817544290.template_suffix | json }},
					featured_image: {{product_1914817544290.featured_image | json }},
					featured_media: {{product_1914817544290.featured_media | json }},
					images: {{product_1914817544290.images | json }}
				};window.__pageflyProducts["1914810957922"] = {
					id: {{product_1914810957922.id | json }},
					handle: {{product_1914810957922.handle | json }},
					title: {{product_1914810957922.title | json }},
					type: {{product_1914810957922.type | json }},
					url: {{product_1914810957922.url | json }},
					vendor: {{product_1914810957922.vendor | json }},
					variants: {{product_1914810957922.variants | json }},
					options: {{product_1914810957922.options | json }},
					media: {{product_1914810957922.media | json }},
					has_only_default_variant: {{product_1914810957922.has_only_default_variant | json }},
					options_with_values: {{product_1914810957922.options_with_values | json }},
					selected_variant: {{product_1914810957922.selected_variant | json }},
					selected_or_first_available_variant: {{product_1914810957922.selected_or_first_available_variant | json }},
					tags: {{product_1914810957922.tags | json }},
					template_suffix: {{product_1914810957922.template_suffix | json }},
					featured_image: {{product_1914810957922.featured_image | json }},
					featured_media: {{product_1914810957922.featured_media | json }},
					images: {{product_1914810957922.images | json }}
				};window.__pageflyProducts["4350514004066"] = {
					id: {{product_4350514004066.id | json }},
					handle: {{product_4350514004066.handle | json }},
					title: {{product_4350514004066.title | json }},
					type: {{product_4350514004066.type | json }},
					url: {{product_4350514004066.url | json }},
					vendor: {{product_4350514004066.vendor | json }},
					variants: {{product_4350514004066.variants | json }},
					options: {{product_4350514004066.options | json }},
					media: {{product_4350514004066.media | json }},
					has_only_default_variant: {{product_4350514004066.has_only_default_variant | json }},
					options_with_values: {{product_4350514004066.options_with_values | json }},
					selected_variant: {{product_4350514004066.selected_variant | json }},
					selected_or_first_available_variant: {{product_4350514004066.selected_or_first_available_variant | json }},
					tags: {{product_4350514004066.tags | json }},
					template_suffix: {{product_4350514004066.template_suffix | json }},
					featured_image: {{product_4350514004066.featured_image | json }},
					featured_media: {{product_4350514004066.featured_media | json }},
					images: {{product_4350514004066.images | json }}
				};window.__pageflyProducts["4365318193250"] = {
					id: {{product_4365318193250.id | json }},
					handle: {{product_4365318193250.handle | json }},
					title: {{product_4365318193250.title | json }},
					type: {{product_4365318193250.type | json }},
					url: {{product_4365318193250.url | json }},
					vendor: {{product_4365318193250.vendor | json }},
					variants: {{product_4365318193250.variants | json }},
					options: {{product_4365318193250.options | json }},
					media: {{product_4365318193250.media | json }},
					has_only_default_variant: {{product_4365318193250.has_only_default_variant | json }},
					options_with_values: {{product_4365318193250.options_with_values | json }},
					selected_variant: {{product_4365318193250.selected_variant | json }},
					selected_or_first_available_variant: {{product_4365318193250.selected_or_first_available_variant | json }},
					tags: {{product_4365318193250.tags | json }},
					template_suffix: {{product_4365318193250.template_suffix | json }},
					featured_image: {{product_4365318193250.featured_image | json }},
					featured_media: {{product_4365318193250.featured_media | json }},
					images: {{product_4365318193250.images | json }}
				};window.__pageflyProducts["4461337542754"] = {
					id: {{product_4461337542754.id | json }},
					handle: {{product_4461337542754.handle | json }},
					title: {{product_4461337542754.title | json }},
					type: {{product_4461337542754.type | json }},
					url: {{product_4461337542754.url | json }},
					vendor: {{product_4461337542754.vendor | json }},
					variants: {{product_4461337542754.variants | json }},
					options: {{product_4461337542754.options | json }},
					media: {{product_4461337542754.media | json }},
					has_only_default_variant: {{product_4461337542754.has_only_default_variant | json }},
					options_with_values: {{product_4461337542754.options_with_values | json }},
					selected_variant: {{product_4461337542754.selected_variant | json }},
					selected_or_first_available_variant: {{product_4461337542754.selected_or_first_available_variant | json }},
					tags: {{product_4461337542754.tags | json }},
					template_suffix: {{product_4461337542754.template_suffix | json }},
					featured_image: {{product_4461337542754.featured_image | json }},
					featured_media: {{product_4461337542754.featured_media | json }},
					images: {{product_4461337542754.images | json }}
				};window.__pageflyProducts["4461353795682"] = {
					id: {{product_4461353795682.id | json }},
					handle: {{product_4461353795682.handle | json }},
					title: {{product_4461353795682.title | json }},
					type: {{product_4461353795682.type | json }},
					url: {{product_4461353795682.url | json }},
					vendor: {{product_4461353795682.vendor | json }},
					variants: {{product_4461353795682.variants | json }},
					options: {{product_4461353795682.options | json }},
					media: {{product_4461353795682.media | json }},
					has_only_default_variant: {{product_4461353795682.has_only_default_variant | json }},
					options_with_values: {{product_4461353795682.options_with_values | json }},
					selected_variant: {{product_4461353795682.selected_variant | json }},
					selected_or_first_available_variant: {{product_4461353795682.selected_or_first_available_variant | json }},
					tags: {{product_4461353795682.tags | json }},
					template_suffix: {{product_4461353795682.template_suffix | json }},
					featured_image: {{product_4461353795682.featured_image | json }},
					featured_media: {{product_4461353795682.featured_media | json }},
					images: {{product_4461353795682.images | json }}
				};window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};
	</script><div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-a4f1f814"><div data-pf-type="Layout" class="pf-a8a4f1f8"><div data-container="true" class="sc-pZopv bjKdkd pf-b3a8a4f1 pf-products" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-0c07265f pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-670c0726" data-pf-type="Column"><h1 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-aa670c07"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-5baa670c">Plant Protein Perfected</span></h1></div></div></div><div class="sc-qPjXN eYzxUD pf-62b3a8a4 pf-r pf-r-align--cm pf-r-ew--3 pf-r-ew fade-in" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:0px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-fae643bf" data-pf-type="Column"><div data-product-id="1914810957922" data-default-variant="18218557931618" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-effae643 product">{% assign defaultProduct = product %}{% assign product = product_1914810957922 %} {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-65299261" %}<div class="sc-qPjXN eYzxUD pf-f1effae6 pf-r pf-r-eh pf-r-ew product-details-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-b7f1effa product-details-column" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-pzLIQ SfOJX pf-07265f19 animate-shrink animate-shrink product-image">{% assign img_size = product.images.size %}<div class="sc-qZusK vHMOL">{% if img_size > 1 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="false" mode="view" class="sc-pQERe kZYFQD" style="--pf-d-lg:flex; --pf-d-md:flex; --pf-d-sm:flex; --pf-d-xs:flex;"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="450px" spacing="10px" class="sc-pHHLp blakCf">{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-psbuI efwYHr" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-a4ec4b96--vanillaoptimized.png?v=1592340667 1200w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-a4ec4b96--vanillaoptimized.png?v=1592340667 800w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-a4ec4b96--vanillaoptimized_400x466.png?v=1592340667&resized 400w" class="sc-qZtVr dLIPjF pf-265f19e3 background" data-pf-type="Image2"><div class="sc-qPjXN eYzxUD pf-2068b1d4 pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--9 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-19e36220 title" data-pf-type="Column"><h1 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-plgA-D dNfjzh pf-5f19e362 text-uppercase mb-1">{{ product.title }}</h1></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--4 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-622068b1 col" data-pf-type="Column"><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-e3622068 text-uppercase mb-1">{{ product.variants[0].price | money }}</div></div></div></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-68b1d46d">{% unless product.metafields.global.product_lightbox_image_url == blank %}
{%- assign mColour = product.metafields.global.product_lightbox_image_url -%}

    <!-- product info lightbox -->
    <div class="link mb-2">

        <a class="product-link lightbox" data-fancybox="" data-src="#{{ product.id }}_lightbox">

            <h6>Nutrition, Ingredients, Benefits</h6>

        </a>

        <div style="display: none;" id="{{ product.id }}_lightbox" class="bg-dark product-lightbox">

            <div class="row justify-content-center align-items-center">

                <div class="col-lg-6 background-white">

                    <img src="{{ mColour }}" alt="Nutrition Facts">

                </div>

                <div class="col-lg-6 text-center lightbox-content">

                    <p>{{ product.metafields.global.product_lightbox_text_html }}</p>

                </div>

            </div>

        </div>

    </div>
{% endunless %}</div><div data-pf-type="ReCharge" class="sc-psrQp kkPGoW pf-b1d46d4f selectors">{% include 'subscription-product' %}</div><div data-product-id="{{ product.id }}" data-display="dropdown" data-pf-type="ProductVariant" class="sc-pQfSI gluJHn pf-d46d4f97" style="--pf-s-lg:16px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div><div class="sc-qPjXN eYzxUD pf-e488b9b7 pf-r pf-r-align--cm quantity-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--8 pf-c-md--8 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-4f9774e4 product-variants" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-display="radio" data-pf-type="ProductVariant" class="sc-pQfSI jGpWza pf-6d4f9774" style="--pf-s-lg:5px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--4 pf-c-md--4 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-74e488b9 form-group quantity col px-0" data-pf-type="Column"><div data-product-id="{{ product.id }}" size="50" data-pf-type="ProductQuantity" class="sc-pQQAz euKLeR pf-9774e488 product-quantity"><button data-quantity-action="decrease" data-quantity-disabled="true" type="button">-</button><input min="1" type="number" data-hidespinner="true" name="quantity" value="1"><button type="button" data-quantity-action="increase">+</button></div></div></div></div><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-b9b7f1ef"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-88b9b7f1">                <button data-productid="{{product.id}}" class="btn btn--to-secondary btn--full product__add-to-cart-button ajax_form_cart single_add_to_cart_button mt-1" type="submit" id="add" value="Add to Cart" aria-label="{{ 'products.product.add_to_cart' | t }}">
                    <span class="secondary-text" aria-hidden="true" data-cart-secondary-submit-text="">{{ 'products.product.add_to_cart' | t }}</span>
                </button></div></div></div></div></div>{% endform %}{% endif %}{% assign product = defaultProduct %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-27b15c9f" data-pf-type="Column"><div data-product-id="1914813644898" data-default-variant="18218580574306" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-0a27b15c product">{% assign defaultProduct = product %}{% assign product = product_1914813644898 %} {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-db4361b5" %}<div class="sc-qPjXN eYzxUD pf-620a27b1 pf-r pf-r-eh pf-r-ew product-details-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-30620a27 product-details-column" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-pzLIQ SfOJX pf-e643bf5e animate-shrink animate-shrink product-image">{% assign img_size = product.images.size %}<div class="sc-qZusK vHMOL">{% if img_size > 1 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="false" mode="view" class="sc-pQERe kZYFQD" style="--pf-d-lg:flex; --pf-d-md:flex; --pf-d-sm:flex; --pf-d-xs:flex;"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="450px" spacing="10px" class="sc-pHHLp blakCf">{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-psbuI efwYHr" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-ec4b9691--chocolateoptimized.png?v=1592340691 1200w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-ec4b9691--chocolateoptimized.png?v=1592340691 800w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-ec4b9691--chocolateoptimized_400x466.png?v=1592340691&resized 400w" class="sc-qZtVr dLIPjF pf-43bf5e35 background" data-pf-type="Image2"><div class="sc-qPjXN eYzxUD pf-101cb07c pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-5e351710 title" data-pf-type="Column"><h1 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-plgA-D dNfjzh pf-bf5e3517 text-uppercase mb-1">{{ product.title }}</h1></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--7 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-17101cb0 col" data-pf-type="Column"><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-3517101c text-uppercase mb-1">{{ product.variants[0].price | money }}</div></div></div></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-1cb07c74">{% unless product.metafields.global.product_lightbox_image_url == blank %}
{%- assign mColour = product.metafields.global.product_lightbox_image_url -%}

    <!-- product info lightbox -->
    <div class="link mb-2">

        <a class="product-link lightbox" data-fancybox="" data-src="#{{ product.id }}_lightbox">

            <h6>Nutrition, Ingredients, Benefits</h6>

        </a>

        <div style="display: none;" id="{{ product.id }}_lightbox" class="bg-dark product-lightbox">

            <div class="row justify-content-center align-items-center">

                <div class="col-lg-6 background-white">

                    <img src="{{ mColour }}" alt="Nutrition Facts">

                </div>

                <div class="col-lg-6 text-center lightbox-content">

                    <p>{{ product.metafields.global.product_lightbox_text_html }}</p>

                </div>

            </div>

        </div>

    </div>
{% endunless %}</div><div data-pf-type="ReCharge" class="sc-psrQp kkPGoW pf-b07c74fb selectors">{% include 'subscription-product' %}</div><div data-product-id="{{ product.id }}" data-display="dropdown" data-pf-type="ProductVariant" class="sc-pQfSI gluJHn pf-7c74fba3" style="--pf-s-lg:16px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div><div class="sc-qPjXN eYzxUD pf-f0c8ef30 pf-r pf-r-align--cm quantity-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-fba302f0 product-variants" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-display="radio" data-pf-type="ProductVariant" class="sc-pQfSI jGpWza pf-74fba302" style="--pf-s-lg:5px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--4 pf-c-md--4 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-02f0c8ef form-group quantity col px-0" data-pf-type="Column"><div data-product-id="{{ product.id }}" size="40" data-pf-type="ProductQuantity" class="sc-pQQAz daLzjN pf-a302f0c8 product-quantity"><button data-quantity-action="decrease" data-quantity-disabled="true" type="button">-</button><input min="1" type="number" data-hidespinner="true" name="quantity" value="1"><button type="button" data-quantity-action="increase">+</button></div></div></div></div><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-ef30620a"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-c8ef3062">                <button data-productid="{{product.id}}" class="btn btn--to-secondary btn--full product__add-to-cart-button ajax_form_cart single_add_to_cart_button mt-1" type="submit" id="add" value="Add to Cart" aria-label="{{ 'products.product.add_to_cart' | t }}">
                    <span class="secondary-text" aria-hidden="true" data-cart-secondary-submit-text="">{{ 'products.product.add_to_cart' | t }}</span>
                </button></div></div></div></div></div>{% endform %}{% endif %}{% assign product = defaultProduct %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-6f5c50e7" data-pf-type="Column"><div data-product-id="1914817544290" data-default-variant="18218611081314" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-ce6f5c50 product">{% assign defaultProduct = product %}{% assign product = product_1914817544290 %} {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-338cb907" %}<div class="sc-qPjXN eYzxUD pf-4ece6f5c pf-r pf-r-eh pf-r-ew product-details-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-e94ece6f product-details-column" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-pzLIQ SfOJX pf-b15c9f88 animate-shrink animate-shrink product-image">{% assign img_size = product.images.size %}<div class="sc-qZusK vHMOL">{% if img_size > 1 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="false" mode="view" class="sc-pQERe kZYFQD" style="--pf-d-lg:flex; --pf-d-md:flex; --pf-d-sm:flex; --pf-d-xs:flex;"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="450px" spacing="10px" class="sc-pHHLp blakCf">{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-psbuI efwYHr" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-a52baa08--matchaoptimized.png?v=1592340819 1200w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-a52baa08--matchaoptimized.png?v=1592340819 800w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-a52baa08--matchaoptimized_400x466.png?v=1592340819&resized 400w" class="sc-qZtVr dLIPjF pf-5c9f88d7 background" data-pf-type="Image2"><div class="sc-qPjXN eYzxUD pf-cc549c5a pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-88d735cc title" data-pf-type="Column"><h1 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-plgA-D dNfjzh pf-9f88d735 text-uppercase mb-1">{{ product.title }}</h1></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--9 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-35cc549c col" data-pf-type="Column"><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-d735cc54 text-uppercase mb-1">{{ product.variants[0].price | money }}</div></div></div></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-549c5a78">{% unless product.metafields.global.product_lightbox_image_url == blank %}
{%- assign mColour = product.metafields.global.product_lightbox_image_url -%}

    <!-- product info lightbox -->
    <div class="link mb-2">

        <a class="product-link lightbox" data-fancybox="" data-src="#{{ product.id }}_lightbox">

            <h6>Nutrition, Ingredients, Benefits</h6>

        </a>

        <div style="display: none;" id="{{ product.id }}_lightbox" class="bg-dark product-lightbox">

            <div class="row justify-content-center align-items-center">

                <div class="col-lg-6 background-white">

                    <img src="{{ mColour }}" alt="Nutrition Facts">

                </div>

                <div class="col-lg-6 text-center lightbox-content">

                    <p>{{ product.metafields.global.product_lightbox_text_html }}</p>

                </div>

            </div>

        </div>

    </div>
{% endunless %}</div><div data-pf-type="ReCharge" class="sc-psrQp kkPGoW pf-9c5a78b9 selectors">{% include 'subscription-product' %}</div><div data-product-id="{{ product.id }}" data-display="dropdown" data-pf-type="ProductVariant" class="sc-pQfSI gluJHn pf-5a78b948" style="--pf-s-lg:16px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div><div class="sc-qPjXN eYzxUD pf-75e74ce9 pf-r pf-r-align--cm quantity-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-b948c875 product-variants" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-display="radio" data-pf-type="ProductVariant" class="sc-pQfSI jGpWza pf-78b948c8" style="--pf-s-lg:5px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--4 pf-c-md--4 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-c875e74c form-group quantity col px-0" data-pf-type="Column"><div data-product-id="{{ product.id }}" size="40" data-pf-type="ProductQuantity" class="sc-pQQAz daLzjN pf-48c875e7 product-quantity"><button data-quantity-action="decrease" data-quantity-disabled="true" type="button">-</button><input min="1" type="number" data-hidespinner="true" name="quantity" value="1"><button type="button" data-quantity-action="increase">+</button></div></div></div></div><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-4ce94ece"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-e74ce94e">                <button data-productid="{{product.id}}" class="btn btn--to-secondary btn--full product__add-to-cart-button ajax_form_cart single_add_to_cart_button mt-1" type="submit" id="add" value="Add to Cart" aria-label="{{ 'products.product.add_to_cart' | t }}">
                    <span class="secondary-text" aria-hidden="true" data-cart-secondary-submit-text="">{{ 'products.product.add_to_cart' | t }}</span>
                </button></div></div></div></div></div>{% endform %}{% endif %}{% assign product = defaultProduct %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-db5d8dd2" data-pf-type="Column"><div data-product-id="4350514004066" data-default-variant="31239505248354" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-fadb5d8d product">{% assign defaultProduct = product %}{% assign product = product_4350514004066 %} {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-7316ad57" %}<div class="sc-qPjXN eYzxUD pf-46fadb5d pf-r pf-r-eh pf-r-ew product-details-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-ee46fadb product-details-column" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-pzLIQ SfOJX pf-5c50e702 animate-shrink animate-shrink product-image">{% assign img_size = product.images.size %}<div class="sc-qZusK vHMOL">{% if img_size > 1 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="false" mode="view" class="sc-pQERe kZYFQD" style="--pf-d-lg:flex; --pf-d-md:flex; --pf-d-sm:flex; --pf-d-xs:flex;"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="450px" spacing="10px" class="sc-pHHLp blakCf">{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-psbuI efwYHr" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-44c141ba--mocha-product-background-image.jpg?v=1594301501 1200w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-44c141ba--mocha-product-background-image_800x932.jpg?v=1594301501&resized 800w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-44c141ba--mocha-product-background-image_400x466.jpg?v=1594301501&resized 400w" class="sc-qZtVr dLIPjF pf-50e702a2 background" data-pf-type="Image2"><div class="sc-qPjXN eYzxUD pf-03f31e22 pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--9 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-02a27203 title" data-pf-type="Column"><h1 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-plgA-D dNfjzh pf-e702a272 text-uppercase mb-1">{{ product.title }}</h1></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--4 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-7203f31e col" data-pf-type="Column"><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-a27203f3 text-uppercase mb-1">{{ product.variants[0].price | money }}</div></div></div></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-f31e2222">{% unless product.metafields.global.product_lightbox_image_url == blank %}
{%- assign mColour = product.metafields.global.product_lightbox_image_url -%}

    <!-- product info lightbox -->
    <div class="link mb-2">

        <a class="product-link lightbox" data-fancybox="" data-src="#{{ product.id }}_lightbox">

            <h6>Nutrition, Ingredients, Benefits</h6>

        </a>

        <div style="display: none;" id="{{ product.id }}_lightbox" class="bg-dark product-lightbox">

            <div class="row justify-content-center align-items-center">

                <div class="col-lg-6 background-white">

                    <img src="{{ mColour }}" alt="Nutrition Facts">

                </div>

                <div class="col-lg-6 text-center lightbox-content">

                    <p>{{ product.metafields.global.product_lightbox_text_html }}</p>

                </div>

            </div>

        </div>

    </div>
{% endunless %}</div><div data-pf-type="ReCharge" class="sc-psrQp kkPGoW pf-1e2222e0 selectors">{% include 'subscription-product' %}</div><div data-product-id="{{ product.id }}" data-display="dropdown" data-pf-type="ProductVariant" class="sc-pQfSI gluJHn pf-2222e0ea" style="--pf-s-lg:16px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div><div class="sc-qPjXN eYzxUD pf-30ac58ee pf-r pf-r-align--cm quantity-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--8 pf-c-md--8 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-e0ea0d30 product-variants" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-display="radio" data-pf-type="ProductVariant" class="sc-pQfSI jGpWza pf-22e0ea0d" style="--pf-s-lg:5px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--4 pf-c-md--4 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-0d30ac58 form-group quantity col px-0" data-pf-type="Column"><div data-product-id="{{ product.id }}" size="50" data-pf-type="ProductQuantity" class="sc-pQQAz euKLeR pf-ea0d30ac product-quantity"><button data-quantity-action="decrease" data-quantity-disabled="true" type="button">-</button><input min="1" type="number" data-hidespinner="true" name="quantity" value="1"><button type="button" data-quantity-action="increase">+</button></div></div></div></div><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-58ee46fa"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-ac58ee46">                <button data-productid="{{product.id}}" class="btn btn--to-secondary btn--full product__add-to-cart-button ajax_form_cart single_add_to_cart_button mt-1" type="submit" id="add" value="Add to Cart" aria-label="{{ 'products.product.add_to_cart' | t }}">
                    <span class="secondary-text" aria-hidden="true" data-cart-secondary-submit-text="">{{ 'products.product.add_to_cart' | t }}</span>
                </button></div></div></div></div></div>{% endform %}{% endif %}{% assign product = defaultProduct %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-96230b21" data-pf-type="Column"><div data-product-id="4365318193250" data-default-variant="31312484794466" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-b596230b product">{% assign defaultProduct = product %}{% assign product = product_4365318193250 %} {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-50e8e9d6" %}<div class="sc-qPjXN eYzxUD pf-31b59623 pf-r pf-r-eh pf-r-ew product-details-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-bb31b596 product-details-column id-{{ product.id }}" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-pzLIQ SfOJX pf-5d8dd28f animate-shrink animate-shrink product-image">{% assign img_size = product.images.size %}<div class="sc-qZusK vHMOL">{% if img_size > 1 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="false" mode="view" class="sc-pQERe kZYFQD" style="--pf-d-lg:flex; --pf-d-md:flex; --pf-d-sm:flex; --pf-d-xs:flex;"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="450px" spacing="10px" class="sc-pHHLp blakCf">{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-psbuI efwYHr" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-e70c5985--chocolate-vanillaoptimized.png?v=1592341011 1200w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-e70c5985--chocolate-vanillaoptimized.png?v=1592341011 800w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-e70c5985--chocolate-vanillaoptimized_400x466.png?v=1592341011&resized 400w" class="sc-qZtVr dLIPjF pf-8dd28f85 background" data-pf-type="Image2"><div class="sc-qPjXN eYzxUD pf-38e63eac pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-8f85f738 title" data-pf-type="Column"><h1 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-plgA-D dNfjzh pf-d28f85f7 text-uppercase mb-1">{{ product.title }}</h1></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--4 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-f738e63e col" data-pf-type="Column"><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-85f738e6 text-uppercase mb-1">{{ product.variants[0].price | money }}</div></div></div></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-e63eac43">{% unless product.metafields.global.product_lightbox_image_url == blank %}
{%- assign mColour = product.metafields.global.product_lightbox_image_url -%}

    <!-- product info lightbox -->
    <div class="link mb-2">

        <a class="product-link lightbox" data-fancybox="" data-src="#{{ product.id }}_lightbox">

            <h6>Nutrition, Ingredients, Benefits</h6>

        </a>

        <div style="display: none;" id="{{ product.id }}_lightbox" class="bg-dark product-lightbox">

            <div class="row justify-content-center align-items-center">

                <div class="col-lg-6 background-white">

                    <img src="{{ mColour }}" alt="Nutrition Facts">

                </div>

                <div class="col-lg-6 text-center lightbox-content">

                    <p>{{ product.metafields.global.product_lightbox_text_html }}</p>

                </div>

            </div>

        </div>

    </div>
{% endunless %}</div><div data-pf-type="ReCharge" class="sc-psrQp kkPGoW pf-3eac43eb selectors">{% include 'subscription-product' %}</div><div data-product-id="{{ product.id }}" data-display="dropdown" data-pf-type="ProductVariant" class="sc-pQfSI gluJHn pf-ac43eb31" style="--pf-s-lg:16px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div><div class="sc-qPjXN eYzxUD pf-fa9724bb pf-r pf-r-align--cm quantity-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-eb31defa product-variants" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-display="radio" data-pf-type="ProductVariant" class="sc-pQfSI jGpWza pf-43eb31de" style="--pf-s-lg:5px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--4 pf-c-md--4 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-defa9724 form-group quantity col px-0" data-pf-type="Column"><div data-product-id="{{ product.id }}" size="40" data-pf-type="ProductQuantity" class="sc-pQQAz daLzjN pf-31defa97 product-quantity"><button data-quantity-action="decrease" data-quantity-disabled="true" type="button">-</button><input min="1" type="number" data-hidespinner="true" name="quantity" value="1"><button type="button" data-quantity-action="increase">+</button></div></div></div></div><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-24bb31b5"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-9724bb31">                <button data-productid="{{product.id}}" class="btn btn--to-secondary btn--full product__add-to-cart-button ajax_form_cart single_add_to_cart_button mt-1" type="submit" id="add" value="Add to Cart" aria-label="{{ 'products.product.add_to_cart' | t }}">
                    <span class="secondary-text" aria-hidden="true" data-cart-secondary-submit-text="">{{ 'products.product.add_to_cart' | t }}</span>
                </button></div></div></div></div></div>{% endform %}{% endif %}{% assign product = defaultProduct %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-26212313" data-pf-type="Column"><div data-product-id="4461337542754" data-default-variant="31875666870370" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-64262123 product mixed-12-pack">{% assign defaultProduct = product %}{% assign product = product_4461337542754 %} {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-daeb8e26" %}<div class="sc-qPjXN eYzxUD pf-e3642621 pf-r pf-r-eh pf-r-ew product-details-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-94e36426 product-details-column id-{{ product.id }}" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-pzLIQ SfOJX pf-230b216c animate-shrink animate-shrink product-image">{% assign img_size = product.images.size %}<div class="sc-qZusK vHMOL">{% if img_size > 1 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="false" mode="view" class="sc-pQERe kZYFQD" style="--pf-d-lg:flex; --pf-d-md:flex; --pf-d-sm:flex; --pf-d-xs:flex;"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="450px" spacing="10px" class="sc-pHHLp blakCf">{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-psbuI efwYHr" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-6aae4374--annie-spratt-kiito-mixed-pack.jpg?v=1594751702 1200w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-6aae4374--annie-spratt-kiito-mixed-pack_800x1129.jpg?v=1594751702&resized 800w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-6aae4374--annie-spratt-kiito-mixed-pack_400x565.jpg?v=1594751702&resized 400w" class="sc-qZtVr dLIPjF pf-0b216c53 background" data-pf-type="Image2"><div class="sc-qPjXN eYzxUD pf-6e81f5b8 pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-6c530d6e title" data-pf-type="Column"><h1 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-plgA-D dNfjzh pf-216c530d text-uppercase mb-1">{{ product.title }}</h1></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--4 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-0d6e81f5 col" data-pf-type="Column"><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-530d6e81 text-uppercase mb-1">{{ product.variants[0].price | money }}</div></div></div></div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-81f5b856">{% unless product.metafields.global.product_lightbox_image_url == blank %}
{%- assign mColour = product.metafields.global.product_lightbox_image_url -%}

    <!-- product info lightbox -->
    <div class="link mb-2">

        <a class="product-link lightbox" data-fancybox="" data-src="#{{ product.id }}_lightbox">

            <h6>Nutrition, Ingredients, Benefits</h6>

        </a>

        <div style="display: none;" id="{{ product.id }}_lightbox" class="bg-dark product-lightbox">

            <div class="row justify-content-center align-items-center">

                <div class="col-lg-6 background-white">

                    <img src="{{ mColour }}" alt="Nutrition Facts">

                </div>

                <div class="col-lg-6 text-center lightbox-content">

                    <p>{{ product.metafields.global.product_lightbox_text_html }}</p>

                </div>

            </div>

        </div>

    </div>
{% endunless %}</div><div data-pf-type="ReCharge" class="sc-psrQp kkPGoW pf-f5b856c8 selectors">{% include 'subscription-product' %}</div><div data-product-id="{{ product.id }}" data-display="dropdown" data-pf-type="ProductVariant" class="sc-pQfSI gluJHn pf-b856c8c4" style="--pf-s-lg:16px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div><div class="sc-qPjXN eYzxUD pf-c4128594 pf-r pf-r-align--cm quantity-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--4 pf-c-md--4 pf-c-lg--11"><div class="sc-pkUyL fTyjzF pf-c8c41285 form-group quantity col px-0" data-pf-type="Column"><div data-product-id="{{ product.id }}" size="40" data-pf-type="ProductQuantity" class="sc-pQQAz daLzjN pf-56c8c412 product-quantity mixed-12-pack"><button data-quantity-action="decrease" data-quantity-disabled="true" type="button">-</button><input min="1" type="number" data-hidespinner="true" name="quantity" value="1"><button type="button" data-quantity-action="increase">+</button></div></div></div></div><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-8594e364"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-128594e3">                <button data-productid="{{product.id}}" class="btn btn--to-secondary btn--full product__add-to-cart-button ajax_form_cart single_add_to_cart_button mt-1" type="submit" id="add" value="Add to Cart" aria-label="{{ 'products.product.add_to_cart' | t }}">
                    <span class="secondary-text" aria-hidden="true" data-cart-secondary-submit-text="">{{ 'products.product.add_to_cart' | t }}</span>
                </button></div></div></div></div></div>{% endform %}{% endif %}{% assign product = defaultProduct %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-2123134f" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-8db462b3" data-pf-type="Column"><div data-product-id="4461353795682" data-default-variant="31800773738594" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-d28db462 product">{% assign defaultProduct = product %}{% assign product = product_4461353795682 %} {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-57fbb735" %}<div class="sc-qPjXN eYzxUD pf-8bd28db4 pf-r pf-r-eh pf-r-ew product-details-row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-948bd28d product-details-column" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-pzLIQ SfOJX pf-23134f07 animate-shrink animate-shrink product-image">{% assign img_size = product.images.size %}<div class="sc-qZusK vHMOL">{% if img_size > 1 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="false" mode="view" class="sc-pQERe kZYFQD" style="--pf-d-lg:flex; --pf-d-md:flex; --pf-d-sm:flex; --pf-d-xs:flex;"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="450px" spacing="10px" class="sc-pHHLp blakCf">{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-psbuI efwYHr" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-6c8c1ebc--trialoptimized.png?v=1592340956 1200w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-6c8c1ebc--trialoptimized.png?v=1592340956 800w, https://cdn.shopify.com/s/files/1/0063/2333/9362/t/19/assets/pf-6c8c1ebc--trialoptimized_400x466.png?v=1592340956&resized 400w" class="sc-qZtVr dLIPjF pf-134f070c background" data-pf-type="Image2"><div class="sc-qPjXN eYzxUD pf-085c3983 pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-070c3a08 title" data-pf-type="Column"><h1 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-plgA-D dNfjzh pf-4f070c3a text-uppercase mb-1">{{ product.title }}</h1></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--9 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-3a085c39 col" data-pf-type="Column"><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-0c3a085c text-uppercase mb-1">{{ product.variants[0].price | money }}</div></div></div></div><div data-pf-type="ReCharge" class="sc-psrQp kkPGoW pf-5c39830a selectors pf-lg--hidden pf-md--hidden pf-sm--hidden pf-xs--hidden">{% include 'subscription-product' %}</div><div data-product-id="{{ product.id }}" data-display="dropdown" data-pf-type="ProductVariant" class="sc-pQfSI gluJHn pf-39830af4" style="--pf-s-lg:16px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div><div class="sc-qPjXN eYzxUD pf-c52ffb94 pf-r pf-r-align--cm quantity-row pf-lg--hidden pf-md--hidden pf-sm--hidden pf-xs--hidden" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-0af429c5 product-variants" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-display="radio" data-pf-type="ProductVariant" class="sc-pQfSI jGpWza pf-830af429 pf-lg--hidden pf-md--hidden pf-sm--hidden pf-xs--hidden" style="--pf-s-lg:5px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><input data-productid="{{ product.id }}" name="id" class="pf-input-variant-{{ product.id }}" type="hidden" value="{{ product.variants.first.id }}"></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--undefined pf-c-sm--4 pf-c-md--4 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-29c52ffb form-group quantity col px-0" data-pf-type="Column"><div data-product-id="{{ product.id }}" size="40" data-pf-type="ProductQuantity" class="sc-pQQAz daLzjN pf-f429c52f product-quantity"><button data-quantity-action="decrease" data-quantity-disabled="true" type="button">-</button><input min="1" type="number" data-hidespinner="true" name="quantity" value="1"><button type="button" data-quantity-action="increase">+</button></div></div></div></div><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-fb948bd2"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-2ffb948b">                <button data-productid="{{product.id}}" class="btn btn--to-secondary btn--full product__add-to-cart-button ajax_form_cart single_add_to_cart_button mt-1" type="submit" id="add" value="Add to Cart" aria-label="{{ 'products.product.add_to_cart' | t }}">
                    <span class="secondary-text" aria-hidden="true" data-cart-secondary-submit-text="">{{ 'products.product.add_to_cart' | t }}</span>
                </button></div></div></div></div></div>{% endform %}{% endif %}{% assign product = defaultProduct %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-b462b3a8" data-pf-type="Column"></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.14.10","shopDomain":"drinkkiito.myshopify.com","elementData":{"pf-07265f19 animate-shrink":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"},"pf-e643bf5e animate-shrink":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"},"pf-b15c9f88 animate-shrink":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"},"pf-5c50e702 animate-shrink":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"},"pf-5d8dd28f animate-shrink":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"},"pf-230b216c animate-shrink":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"},"pf-23134f07 animate-shrink":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"}},"pageTitle":"Shop Collection Page - Mocha Drink!","pageType":"collection","pageId":"9e8147a8-217c-4747-a1f9-e08b08951807","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview","updatedTime":"2020-11-03T19:38:37.543Z"};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.14.10/core/helper.js?t=20201103101107" defer></script><script><!-- Add this script to your header -->
var is_chrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;
if(is_chrome){
  document.write('{{- 'chrome.css' | asset_url | stylesheet_tag -}}');
}
/*
$( window ).load(function() {
	$('.pf-p-variant-radio>div:last-child input').prop('disabled', true);
});

$(window).load(function() {
      alert("window load occurred!");
});
*/</script>