{% capture captured_page %}
<!-- /templates/product.liquid -->
{% comment %}

Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
and allow search engines to easily understand what the content is.

For more information on these Scheme.org tags, visit:
- http://schema.org/docs/gs.html

{% endcomment %}

<div itemscope itemtype="http://schema.org/Product">

    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

    <div class="{{ block.settings.columns }} px-lg-3 px-2 py-5 my-lg-5 shop-products"
        id="{{ block.settings.productid }}">

        <div class="d-flex flex-column justify-content-between pb-5">

            <!-- header -->
            <div class="header">

                <!-- product image -->
                <div class="image" data-transition="entrance" style="transform : translateY( 50px )">

                    <div class="pb-lg-3 mb-2 mb-lg-3">

                        <div class="embed-responsive product-img embed-responsive-17by20">

                            <div class="embed-responsive-item">

                                <img class="lazyload w-100"
                                    data-src="{{ product.images.first.src | img_url : 'master' }}"
                                    alt="{{ product.images.first.alt }}"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    data-expand="-50">

                            </div>

                        </div>

                    </div>

                </div>

                <!-- product title -->
                {% if product.title != blank %}

                <div class="title" data-transition="entrance" style="transform : translateY( 50px )">

                    <div class="text-center">

                        <h1 class="text-uppercase mb-1">

                            {{ product.title }}

                        </h1>

                    </div>

                </div>

                {% endif %}

                {% if product.description != blank %}

                <div class="description" data-transition="entrance" style="transform : translateY( 50px )">

                    <div class="text-center py-2">

                        {{ product.description }}

                    </div>

                </div>

                {% endif %}

            </div> <!-- end header -->


            <!-- product info lightbox -->
            {% if block.settings.link != blank %}

            <div class="link mb-2" data-transition="entrance" style="transform : translateY( 50px )">

                <div class="text-center">

                    <a class="product-link" href="{{ block.settings.lightbox | img_url : 'master' }}" data-fancybox>

                        <h6>

                            {{ block.settings.link }}

                        </h6>

                    </a>

                </div>

            </div>

            {% endif %}


            <!-- price info -->
            <div class="price-info pb-1" data-transition="entrance" style="transform : translateY( 50px )">

                <div class="prices">

                    <p class="pricing">

                        {% if block.settings.pricecut != blank %}

                        <span class="price-cut">

                            {{ block.settings.pricecut }}

                        </span>

                        {% endif %}

                        {% if block.settings.priceinfo != blank %}

                        <span>

                            {{ block.settings.priceinfo }}

                        </span>

                        {% endif %}

                    </p>

                    {% if block.settings.priceinfosubtext != blank %}

                    <p class="price-info-subtext">

                        {{ block.settings.priceinfosubtext }}

                    </p>

                    {% endif %}

                </div>

            </div>


            <!-- footer -->
            <div class="footer">

                <div class="button" data-transition="entrance" style="transform : translateY( 50px )">

                    <div class="mb-2">

                        <form action="/cart/add" data-productid="{{product.id}}" method="post"
                            enctype="multipart/form-data">

                                <!-- ReCharge subscription product -->
                                {% if product.available %}{% include 'subscription-product' %}{% endif %}


                            <div class="form-group">

                                <!-- ReCharge Select -->

                                <style>
                                    #quantity {
                                        padding: 5px;
                                        width: 35px;
                                        border: 1px solid #555;
                                    }

                                    .hide {
                                        display: none;
                                    }

                                </style>
                                
                                <select id="product-select-{{ product.id }}" name='id' data-productid="{{product.id}}">
                                {%- comment -%}
                                old selector
                                    <select name="id" data-productid="{{ product.id }}" class="hide">
                                {%- endcomment -%}

                                    {% for variant in product.variants %}

                                    {% if variant.available == true %}

                                    <option value="{{variant.id}}"> {{ variant.title }} for
                                        {{ variant.price | money_with_currency }}</option>

                                    {% else %}

                                    <option disabled="disabled"> {{ variant.title }} - sold out!</option>

                                    {% endif %}

                                    {% endfor %}

                                </select>

                                <!-- add to cart button -->

                                <button data-productid="{{product.id}}"
                                    class="btn btn--to-secondary btn--full product__add-to-cart-button ajax_form_cart single_add_to_cart_button"
                                    type="submit" id="add" value="Add to Cart"
                                    aria-label="{{ 'products.product.add_to_cart' | t }}">
                                    <span class="secondary-text" aria-hidden=true
                                        data-cart-secondary-submit-text>{{ 'products.product.add_to_cart' | t }}</span>
                                </button>


                            </div> <!-- END form-group -->

                        </form>

                        {% comment %}
                        ***********************
                        Want the lightbox back? . . .
                        ***********************
                        - to each .review class (for the respective product), replace this attribute
                        'href="/pages/reviews"' with these attributes :
                        -- data-fancybox data-src="#nilla"
                        -- data-fancybox data-src="#chocolate"
                        -- data-fancybox data-src="#matcha"
                        -- data-fancybox data-src="#mixed"

                        next . . .
                        - add these attributes to each product "span":
                        - class="stamped-product-reviews-badge" data-product-sku="{{ product.handle }}"
                        data-id="{{ product.id }}"

                        lastly. . .
                        - remove the comments surrounding the "- lightbox -"

                        done!
                        {% endcomment %}

                        <style>
                            .stamped-badge-caption {
                                display: none;
                            }

                        </style>

                        <!-- VANILLA -->
                        {% if product.tags contains "Vanilla" %}
                        <a href="/pages/reviews" class="text-center review">
                            <span style="display:block;">{{ product.metafields.stamped.badge }}</span>

                        </a>
                        {% comment %} - lightbox -
                        <div style="display: none;" id="nilla" class="review">
                            <h1 class="text-uppercase text-center">Vanilla Ashwagandha Reviews</h1>
                            <div id="stamped-main-widget" data-widget-style="standard"
                                data-product-id="{{ product.id }}" data-url="{{ shop.url }}{{ product.url }}"
                                data-product-sku="{{product.handle}}">
                                {{ product.metafields.stamped.reviews }}
                            </div>
                        </div>
                        {% endcomment %}
                        {% endif %}

                        <!-- chocolate -->
                        {% if product.tags contains "chocolate" %}
                        <a href="/pages/reviews" class="text-center review" href="javascript:;">
                            <span style="display:block;">{{ product.metafields.stamped.badge }}</span>
                        </a>
                        {% comment %} - lightbox -
                        <div style="display: none;" id="chocolate" class="review">
                            <h1 class="text-uppercase text-center">Chocolate Maca Reviews</h1>
                            <div id="stamped-main-widget" data-widget-style="standard"
                                data-product-id="{{ product.id }}" data-url="{{ shop.url }}{{ product.url }}"
                                data-product-sku="{{product.handle}}">
                                {{ product.metafields.stamped.reviews }}
                            </div>
                        </div>
                        {% endcomment %}
                        {% endif %}

                        <!-- MATCHA -->
                        {% if product.tags contains "matcha" %}
                        <a href="/pages/reviews" class="text-center review" href="javascript:;">
                            <span style="display:block;">{{ product.metafields.stamped.badge }}</span>
                        </a>
                        {% comment %} - lightbox -
                        <div style="display: none;" id="matcha" class="review">
                            <h1 class="text-uppercase text-center">Matcha Moringa Reviews</h1>
                            <div id="stamped-main-widget" data-widget-style="standard"
                                data-product-id="{{ product.id }}" data-url="{{ shop.url }}{{ product.url }}"
                                data-product-sku="{{product.handle}}">
                                {{ product.metafields.stamped.reviews }}
                            </div>
                        </div>
                        {% endcomment %}
                        {% endif %}

                        <!-- mixed -->
                        {% if product.tags contains "mixed" %}
                        <a href="/pages/reviews" class="text-center review" href="javascript:;">
                            <span style="display:block;">{{ product.metafields.stamped.badge }}</span>
                        </a>
                        {% comment %} - lightbox -
                        <div style="display: none;" id="mixed" class="review">
                            <h1 class="text-uppercase text-center">Mixed Case Reviews</h1>
                            <div id="stamped-main-widget" data-widget-style="standard"
                                data-product-id="{{ product.id }}" data-url="{{ shop.url }}{{ product.url }}"
                                data-product-sku="{{product.handle}}">
                                {{ product.metafields.stamped.reviews }}
                            </div>
                        </div>
                        {% endcomment %}
                        {% endif %}



                    </div> <!-- end mb-2 -->

                </div> <!-- end button -->

            </div> <!-- end footer -->

        </div>

    </div>

</div>

{% comment %}
To take advantage of a callback on the select dropdown, add option_selection.js
and customize the JS in timber.productPage as needed.

Currently, timber.productPage does the following:
- Hides your <select> tag from above
    - Breaks out the product variants into separate product options, if more than one exists
    - Generates a <select> tag for each product option
        - Enables/disables elements based on variant availability

        Callback notes:
        - Keep the callback available to the global scope (window.selectCallback) so that advanced
        addons can override it.
        * E.g. multiple currencies
        http://docs.shopify.com/manual/configuration/store-customization/currencies-and-translations/currencies/how-to-toggle-between-two-currencies
        {% endcomment %}
        {{ 'option_selection.js' | shopify_asset_url | script_tag }}
        <script>
            var selectCallback = function (variant, selector) {
                timber.productPage({
                    money_format: "{{ shop.money_format }}",
                    variant: variant,
                    selector: selector
                });
            };

            jQuery(function ($) {
                new Shopify.OptionSelectors('productSelect', {
                    product: {{ product | json }},
                onVariantSelected: selectCallback,
                enableHistoryState: true
    });

            // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
            {% if product.options.size == 1 and product.options.first != 'Title' %}
            $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
            {% endif %}

            // Hide selectors if we only have 1 variant and its title contains 'Default'.
            {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
            $('.selector-wrapper').hide();
            {% endif %}
  });
        </script>

        <!-- DRIP_PRODUCT_TRACKING_V1 -->
        <script text="text/javascript">
            var _dcq = _dcq || [];
            _dcq.push(['recordProductView', {{ product| json }}, {{ product.collections | map: 'id'| json }}, '{{shop.currency}}', '{{ product.url }}']);
        </script>
        <!-- END_DRIP_PRODUCT_TRACKING_V1 -->

        {% endcapture %}
        {% include 'password-protect' %}
